.widget-notify {
    position: relative;
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
    min-height: 96px;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: solid 1px #dcdcdc;
    overflow: hidden;
    transition: $transition-delay;

    &:hover {
        box-shadow: $gray-shadow;
        background-color: $white;
    }

    &:hover &__controls-block_img:before {
        background-image: svg-load("../../../svg/wave.svg", fill=$white);
    }

    &__content-col,
    &__content-row {
        background-color: inherit;

        @media (--mobile) {
            position: static;
        }
    }

    & h2, h3 {
        font-weight: 600;
        color: $black;
    }

    & h2 {
        font-size: 24px;
        line-height: 1.25;

        @media (--mobile) {
            font-size: 18px;
        }
    }

    & h3 {
        font-size: 18px;
        line-height: 1.5;
    }

    &__head {
        margin-top: 10px;
        margin-bottom: 10px;

        @media (--tablet) {
            margin-bottom: 5px;
        }
    }

    &__content-block {

        @media (--mobile) {
            margin-right: 20px;
        }
    }

    &__controls-block {
        position: relative;
        background-color: inherit;

        @media (--mobile) {
            margin-top: 5px;
            position: static;
        }

        &_img {

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 20px;
                height: 100%;
                left: -10px;
                top: center;
                background-position: top left;
                background-repeat: repeat-y;
                background-image: svg-load("../../../svg/wave.svg", fill=#f9f9f9);
                z-index: 10;

                @media (--tablet) {
                    display: none;
                }
            }
        }
    }

    &__controls-caption {
        font-size: 16px;
        font-weight: 600;
        color: $white;
    }

    &__content-row {
        flex: 1 1 auto;
    }

    &__content {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.8;
        color: rgba(0, 0, 0, 0.54);

        @media (--mobile) {
            font-size: 13px;
            line-height: 21px;
        }
    }

    &__btn {
        width: auto;
        margin-right: 10px;
        flex-grow: 1;
        white-space: nowrap;

        @media (--mobile) {
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
            padding: 6px 20px;
        }
    }

    &__btn-close {

        @media (--mobile) {
            position: absolute;
            right: 7px;
            top: 10px;
        }
    }

    &__img {
        position: relative;
        size: 157px 96px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: inherit;
        background-size: cover;
        background: url('./3@2x.jpg') no-repeat center;

        @media (--tablet) {
            display: none;
        }

        &:before, &:after {
            position: absolute;
            content: "";
            display: block;
        }

        &:before {
            width: 4px;
            left: 27px;
            height: 100%;
            background-color: transparent;
            border-left: 1px dashed #f9f9f9;
        }

        &:after {
            background-color: inherit;
            border-radius: 50%;
            size: 88px;
            right: -60px;
            top: center;
        }
    }

    &__icon {
        background: url('./new-order-icon.png') no-repeat center;
        background-size: 39px 48px;
        size: 39px 48px;
        margin-right: 30px;
    }

    &__controls-block {
        flex: 1 1 auto;
    }
}

[data-template = "new-order-notify"] {

    .widget-notify {

        &__content-col {

            @media (--mobile) {
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        &__content {
            font-size: 18px;

            @media (--mobile) {
                font-size: 14px;
            }
        }

        &__controls-block_img {
            height: 100%;
        }

        &__btn-close {
            border: 2px solid #f3f3f3;
        }

        &__controls-block {
            padding-right: 27px;
            margin-right: -27px;
            background-color: $primary;
            background: url('./new-order.png') no-repeat center;
            background-size: cover;

            @media (--mobile) {
                margin-left: -27px;
            }
        }
    }
}
