.file-card {
    flex: 1;
    max-width: 430px;
    min-width: 320px;
    padding: 15px;

    &__container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 30px 24px;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
        height: 100%;
        min-height: 360px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        color: $black;

        @media (--mobile) {
            margin-bottom: 15px;
        }
    }

    &__file-list {
        margin-bottom: 10px;
    }

    &__drop-area {
        margin-bottom: 30px;
    }

    &__btn {
        display: block;
        min-height: 45px;
        font-weight: 600;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.drop-area {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: dashed 1px rgb(187, 187, 187);
    padding: 10px 40px;
    min-height: 170px;

    @media (--tablet) {
        display: none;
    }

    &__title {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.38);
    }

    &__caption {
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        color: $black;
        margin: auto;
    }
}

.file-card-container {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}