{{> head }}

{{> bar }}

<div class="page-header">
    <div class="wrapper">
        <div class="page-title">{{ pageTitle }}</div>
        {{> navigation }}
    </div>
</div>

<h1>About</h1>

{{> footer }}