{{> head }}

<div class="page-header">
    <div class="wrapper">
        <div class="page-title">{{ pageTitle }}</div>
        {{> navigation }}
    </div>
</div>

<div class="wrapper">
    <a href="/">To main window</a>
    <a href="/">To main window</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur debitis eveniet ex fugit harum numquam
        optio perspiciatis placeat quisquam. Hic laboriosam quisquam repellat. Aperiam assumenda atque corporis
        cupiditate dolorem ea eum molestiae optio perferendis perspiciatis placeat quidem quis, quos repellendus
        sapiente sit voluptates! Architecto enim facilis, ipsum iusto obcaecati odit perferendis possimus provident quia
        voluptate! Ad, adipisci beatae blanditiis commodi cumque deserunt dicta doloremque doloribus expedita fugit
        harum illum magni molestiae nemo nobis obcaecati odio, porro sed sunt tempore? Ab accusantium alias aliquam
        aliquid blanditiis commodi deleniti dolorum eaque, et eum facere fuga fugit, in ipsum laboriosam laudantium
        libero minus modi nobis nostrum numquam officia, optio possimus praesentium quaerat quisquam tempore unde vel
        velit vero. A alias ducimus illo, illum iusto magni. Adipisci consectetur consequuntur ipsum magnam praesentium
        quae qui quos rerum, sit? Aperiam at blanditiis debitis delectus distinctio dolorum eos et fuga incidunt,
        laborum libero maxime minus molestias possimus quaerat quia quos sequi, similique! Atque beatae eum fugit modi
        quod vero? Ad est laboriosam laudantium non nulla obcaecati quas tenetur vel veritatis voluptas. Animi, aut
        consequuntur ipsa iste labore nam quis rerum sequi sint veritatis! Corporis cupiditate ea expedita maxime
        possimus qui quo repellendus voluptatum. Beatae consectetur consequatur, cupiditate doloremque doloribus earum
        eius eos error expedita facere fuga illo iure laborum magni maxime natus obcaecati pariatur sint sunt
        temporibus, velit veniam voluptatem! Aperiam at consequatur delectus dolores, eaque eos explicabo fuga impedit
        iste iure laboriosam laborum magni molestias neque, nostrum numquam odit perspiciatis porro quas quia quo quod
        recusandae repellendus tempore temporibus vitae voluptates! Assumenda distinctio excepturi, explicabo laudantium
        placeat quis! Error eveniet labore reiciendis. Aliquam, animi, asperiores aspernatur consectetur delectus,
        distinctio doloribus eveniet facere hic id ipsa laborum libero mollitia nihil obcaecati porro possimus quae
        quisquam rerum sunt suscipit tempore temporibus. Ab aperiam atque consequuntur cum delectus earum enim, et
        eveniet excepturi exercitationem id inventore magnam molestiae omnis, optio pariatur porro praesentium quas
        quasi qui rem saepe suscipit totam ut vel velit voluptatum? Ad exercitationem, vero. A accusamus ad assumenda,
        aut commodi cum cupiditate delectus deleniti dolorem doloremque eos est eum expedita explicabo fugit impedit
        incidunt minima natus nesciunt optio, pariatur perspiciatis porro quam quas quia quidem quisquam quod saepe
        sapiente sit soluta suscipit tempora temporibus! Aliquid animi, assumenda, culpa cum deleniti dicta et ex id
        inventore ipsam maxime neque nihil nulla praesentium quos totam vel! Asperiores beatae cum facere incidunt
        labore magnam nemo nihil numquam ratione repellendus. Accusamus aliquam beatae cumque doloribus eius impedit
        labore laborum maxime mollitia nisi nobis officiis placeat, quam quibusdam vel! Accusantium doloremque eligendi
        fugiat nam perspiciatis porro tempora tenetur. Adipisci alias aliquam amet architecto aspernatur consequatur cum
        dolorem eos et ex, excepturi, ipsam iste neque nisi non nostrum numquam obcaecati, omnis quae quasi qui quidem
        repudiandae sed similique sint temporibus ullam unde vel velit voluptatibus. Culpa eos id saepe similique
        voluptatum. Cumque eaque esse fugiat id ipsam iure iusto maiores, nulla quasi sapiente unde, veritatis
        voluptatem? Ab alias animi aspernatur, corporis debitis deleniti dolor dolore doloribus earum excepturi, facere
        fuga impedit iste minima modi necessitatibus pariatur perferendis quaerat quasi quis quisquam, quod temporibus
        tenetur totam ullam unde vitae voluptate. A ab accusamus adipisci aliquam animi architecto at consequatur cum
        debitis deleniti deserunt eligendi, eos est eum eveniet excepturi fuga harum hic ipsam iste magnam maiores
        minima minus modi nam, nisi non numquam odio optio possimus quam qui quod rerum sed, sunt unde vero. Id, libero
        neque quaerat quas similique sit vitae! Adipisci consequuntur eveniet incidunt perspiciatis placeat, sit ullam
        vitae! Accusamus animi architecto deserunt dolor dolores eos explicabo fugiat fugit illum molestias, nam nemo
        odio officiis quis quod rerum tempora voluptas voluptate voluptates voluptatum. Architecto consectetur
        consequatur distinctio eaque eos ex, fugit magnam qui repellendus sunt! Ad blanditiis consequuntur deserunt
        dolore ducimus eos exercitationem facilis ipsum iure labore, laboriosam maiores maxime molestias necessitatibus
        non quam qui quos reiciendis rem repellat sed sint soluta sunt veritatis voluptate? Aliquid aspernatur ducimus
        facere itaque maxime nobis, possimus quisquam quo repellat tempora? Porro quasi sed ut voluptas. Amet aperiam
        nulla ut velit. At, consectetur cum debitis deleniti deserunt dolorem doloremque dolorum eius est excepturi fuga
        id iusto magnam necessitatibus non officiis pariatur perspiciatis quaerat quisquam quo repellendus veniam vero.
        Adipisci aliquam amet animi architecto autem blanditiis consectetur culpa debitis delectus dolores ducimus earum
        eligendi, error excepturi facilis in laboriosam minus modi nam placeat, praesentium quam quia quibusdam quidem
        reiciendis repellat sequi similique suscipit veniam voluptate? Aliquid cum ipsa itaque nesciunt nostrum odio
        omnis tempore veniam, voluptas! A accusantium alias asperiores autem beatae blanditiis earum, error fugiat,
        harum itaque iure maiores praesentium quae quia quibusdam quod veniam? A accusamus, accusantium alias asperiores
        at cum distinctio dolor ipsa ipsum libero, mollitia nihil nisi nobis praesentium quisquam sed sit voluptatum.
        Aperiam commodi consequuntur dignissimos dolor, eius, eos eum explicabo iusto labore magnam mollitia nam nisi
        numquam, officia perspiciatis quis quisquam quod recusandae sapiente voluptatem? Ab accusamus accusantium ad
        aliquid, assumenda atque cupiditate distinctio dolore dolorem doloribus esse eveniet impedit itaque laboriosam
        minima necessitatibus nemo neque obcaecati odio officia porro qui quis recusandae repellat saepe sapiente sequi
        similique sint soluta vel? Accusamus adipisci, consectetur corporis cumque deserunt dolores ea eius error
        excepturi fugiat incidunt, inventore ipsam labore laborum modi nam nemo nesciunt pariatur perspiciatis provident
        quas recusandae reprehenderit tempore tenetur velit vero voluptatum. Asperiores, atque aut autem consequatur
        consequuntur dicta dolorum eligendi enim eum fugit illum in inventore ipsam iure laboriosam minima natus nisi
        officia optio praesentium quasi quisquam quos repudiandae sed similique sint tenetur vitae. A animi architecto
        autem dicta dolor eveniet excepturi facere fuga fugit in libero magnam molestiae, nemo numquam odio officia
        quaerat qui quidem ratione repudiandae sequi sunt velit! Accusantium aspernatur dicta distinctio dolorem eaque
        eos error facere illum iusto modi nam natus, neque numquam, porro provident quidem repudiandae saepe suscipit
        unde veritatis. Iure, nostrum recusandae. Aliquam deleniti, eos facilis magnam maiores modi nisi obcaecati,
        omnis porro quaerat, sapiente tempora ullam voluptatibus. Accusamus adipisci aut enim eos exercitationem fugiat
        illo in inventore iure labore libero, nesciunt nobis, nostrum porro recusandae rem repellendus reprehenderit
        sunt, velit voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem culpa cumque debitis deleniti dicta
        dolores error et eum eveniet ex explicabo harum, id impedit incidunt libero, mollitia nobis numquam obcaecati
        provident reiciendis reprehenderit rerum soluta totam vero voluptates. A accusantium ad adipisci alias animi
        architecto, aut doloribus esse ipsam, laboriosam minima obcaecati odio odit, praesentium quisquam. Doloremque
        eum ipsa laboriosam nesciunt nostrum odit, suscipit! Animi architecto culpa eaque ex maiores numquam tempore
        voluptatum! Ab architecto, at blanditiis cupiditate enim error esse modi neque nisi odio, repellendus rerum
        sapiente tempore ut vitae voluptas voluptates. Amet delectus doloribus eius esse exercitationem explicabo hic
        illum itaque libero natus, praesentium quisquam quos reiciendis tempore unde? Accusantium ad amet beatae,
        blanditiis commodi corporis deleniti dicta dolorem ducimus earum eos esse excepturi illum ipsum natus nihil nisi
        nobis non officia omnis perferendis praesentium quas quisquam quo ratione sapiente tenetur. A aliquam
        architecto, assumenda aut autem cupiditate debitis delectus dolores earum et fugiat harum illum inventore ipsa
        itaque iure iusto laudantium maiores minus, nam nemo obcaecati odit officia perspiciatis possimus provident
        quidem quod recusandae sit suscipit temporibus totam unde, veritatis vitae voluptatem voluptates voluptatibus.
        Amet consequatur dolores eius excepturi ipsam labore, officia possimus ut voluptas voluptate. Accusantium animi
        assumenda autem commodi expedita labore minus modi molestias neque quia. Ab accusantium aliquid assumenda culpa
        debitis deleniti dolorum ea illo in inventore labore minima modi molestiae nisi, nostrum officiis, optio placeat
        quia quisquam quod quos recusandae repellat repellendus rerum sed similique tempora tenetur vel voluptatem
        voluptatum? A ad adipisci aperiam aspernatur beatae consequatur corporis deleniti deserunt dolore ducimus eaque
        exercitationem fuga, hic ipsam magnam maxime molestias nobis omnis perspiciatis possimus provident quae quam
        quia repellat sint veritatis, voluptas. Debitis delectus dolore dolores earum impedit magni molestiae placeat.
        Atque autem beatae consectetur cum, debitis eaque est eveniet, facere fuga id nemo nihil nisi perspiciatis
        provident quos sit vero voluptas, voluptatem. Aliquid animi delectus deserunt, dolore eaque laboriosam laborum
        molestias nihil odit perspiciatis quas rem, repellendus veniam! Aliquam aspernatur blanditiis commodi
        consequatur cumque cupiditate dolor dolores dolorum earum ex id, ipsa, iusto labore laboriosam necessitatibus
        nisi placeat quae quaerat quas quis quo ratione reiciendis soluta sunt velit veniam, voluptates? Amet
        consequuntur enim et eum ex in ipsa laborum, magni minima natus nihil nulla officia quas, sequi similique soluta
        unde veniam. Accusamus, atque cumque eos error esse est et eum eveniet exercitationem illum impedit inventore
        ipsam laboriosam natus necessitatibus nemo non odit rerum saepe similique tempore temporibus ullam velit vitae
        voluptatum? Assumenda debitis dolores eos error est illum, incidunt ipsa labore natus obcaecati omnis optio
        possimus quae quisquam quo ratione voluptate voluptatem! Ad adipisci alias autem dicta dolorem earum eius in,
        iste magni minima nemo provident quia quidem, rerum saepe, unde vero? Aliquid atque consequuntur culpa, cum
        debitis dolor dolorem ea eaque earum facere facilis fugit harum illo inventore iusto laboriosam laudantium
        mollitia natus numquam quae quasi quibusdam quisquam quod recusandae soluta temporibus totam voluptatem. Autem
        blanditiis commodi consectetur earum est id ipsam itaque laboriosam nobis, odio quas totam vel.</p>
</div>

{{> footer }}
