{{> bar }}

<div class="row page-header">
    <div class="col fx fx-col fx-justify-between wrapper">
        <div class="page-title">{{pageTitle}}</div>
        {{> navigation }}
    </div>
</div>

<div class="wrapper">
    <ul>
        <li><a href="/messages">Шаблон сообщений</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/order">Notifications</a></li>
        <li><a href="/messages">Шаблон сообщений</a></li>
        <li><a href="/cart">Шаблон корзины</a></li>
    </ul>

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    <h2 style="text-align: center;">Buttons template</h2>
    {{> button theme="primary" type="std" caption="Primary btn" }}
    {{> button theme="error" type="std" caption="Error btn" }}
    {{> button theme="secondary" type="std" caption="Secondary btn" }}
    {{> button theme="bright" type="std" caption="Bright btn" }}

    {{> button theme="primary" type="rect" caption="Primary btn" }}
    {{> button theme="error" type="rect" caption="Error btn" }}
    {{> button theme="secondary" type="rect" caption="Secondary btn" }}
    {{> button theme="bright" type="rect" caption="Bright btn" }}

    {{> button theme="bright" type="round" icon="close"}}
    {{> button theme="primary" type="round" icon="close" }}
    {{> button theme="secondary" type="round" icon="plus" }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> news }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> notify-widget }}
</div>