<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="main-block">
    <h1 class="header main-block__header">hello world!!!)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugiat harum minima nobis nostrum
    pariatur repudiandae soluta! Ad dolores quibusdam reiciendis tempora temporibus. Dignissimos explicabo
    illo quam saepe. Quisquam, vero.
    </p>
</div>

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

{{> order-detail }}

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

{{> progress-bar }}

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

{{> button }}

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

{{> news }}

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>


{{> notify-widget }}

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="container" style="background-color: #444">
    <div class="row">
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam inventore labore temporibus placeat cupiditate nesciunt nobis, repudiandae beatae animi omnis!</div>
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt repudiandae, quisquam debitis libero voluptate a omnis fuga itaque dolorum delectus cum, veniam maxime laudantium ut alias tempora fugit eveniet ad consequuntur rem quos. Eveniet officia, nemo ex quia totam. Labore molestias voluptas quod harum fugit dolorem ea cumque quas unde!</div>
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo tempore inventore repellat laudantium recusandae eos, voluptatum, commodi quod, aliquid fugit blanditiis, nam. Libero eum enim perferendis dolore delectus quae nihil officia maxime ullam harum deserunt, provident, sequi, eligendi? Necessitatibus, nesciunt. Exercitationem cum, odit id rem voluptatem corporis sequi, itaque modi, officiis ipsam aut aspernatur.</div>
    </div>
</div>