<div class="wrapper">

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    <div class="main-block">
        <h1 class="header main-block__header">hello world!!!)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugiat harum minima nobis nostrum
        pariatur repudiandae soluta! Ad dolores quibusdam reiciendis tempora temporibus. Dignissimos explicabo
        illo quam saepe. Quisquam, vero.
        </p>
    </div>

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> order-detail }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> progress-bar }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> button }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

    {{> news }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>


    {{> notify-widget }}

    <div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

</div>