<div class="wrapper">
    <h2 style="text-align: center;">Messages template</h2>
    <a href="/">To main window</a>
    <a href="/messages">To messages</a>
    <a href="/orders">To orders</a>

    <div class="container">
        <div class="row">
            <div class="col-12 fx fx-center">
                {{> notifications }}
            </div>
        </div>
    </div>
</div>
