<div class="row page-header">
    <div class="col fx fx-col fx-justify-between wrapper">
        <div class="container">
            {{> breadcrumbs }}
            <div class="page-title">{{pageTitle}}</div>
            {{> navigation }}
        </div>
    </div>
</div>

<div class="wrapper">
    {{> order-detail }}
</div>