.title {
    margin: 0;
    font-weight: normal;

    &_primary {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        text-align: center;
        color: rgb(0, 0, 0);

        @media (--tablet) {
            font-size: 36px;
            line-height: 40px;
        }

        @media (--mobile) {
            font-size: 26px;
            line-height: 36px;
        }
    }

    &_secondary {
        font-size: 28px;
        text-align: left;
        color: $black;

        @media (--mobile) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    &_minor {
        font-size: 22px;
        line-height: 34px;
        color: rgb(0, 0, 0);

        @media (--mobile) {
            font-size: 18px;
            line-height: 26px;
        }
    }
}