.title {
    margin: 0;
    font-weight: normal;

    &_primary {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    &_secondary {
        font-size: 28px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);

        @media (--mobile) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    &_minor {
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
    }
}