.sidebar {
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    min-width: 256px;
    padding-top: 90px;
    width: 256px;

    @media (--desktop) {
        display: none;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        position: fixed;
        top: 90px;
    }

    &__link {
        margin-left: 30px;
        padding: 10px 0 10px 45px;
    }

    &__icon {
        size: 24px;
    }

    &__balance {
        color: $primary;
        margin-left: 16px;
        font-weight: 600;
    }

    &__divider {
        margin-right: 10%;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: rgba(0, 0, 0, 0.15);
        height: 1px;
        width: 225px;
    }
}