.alert-default_item {
    display: none;
    position: relative;
    padding-left: 28px;
    margin-left: 20px;
    color: #ec7063;
    font-style: italic;

    & .active {
        display: inline-block;
    }
}

.text-field {
    position: relative;
    background-color: #f9f9f9;
    border: solid 1px #dcdcdc;
    border-radius: 10px;

    &.error {

        &:before {
            content: "";
            position: absolute;
            top: 28px;
            right: 15px;
            bottom: auto;
            background-size: 14px;
            background-image: svg-load("../../../svg/plus.svg", fill=gray);
            transform: rotateZ(45deg);
            size: 14px;
            z-index: 2;
        }
    }

    /*&.success {

        &:before {
            content: "";
            position: absolute;
            top: 26px;
            right: 15px;
            bottom: auto;
            background-size: 16px;
            background-image: svg-load("../../../svg/check.svg", fill=#00d600);
            background-repeat: no-repeat;
            background-position: center;
            size: 16px;
            z-index: 1;
        }
    }*/

    &__error-msg {
        display: none;
        position: absolute;
        text-align: left;
        transition: 0.2s;
        padding: 3px 0 0 16px;
        font-size: .6875rem;
        color: $error;
    }

    &__input {
        display: block;
        width: 100%;
        min-height: 66px;
        margin: 0;
        padding: 28px 15px 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        border: none;
        border-radius: 10px;
        background-color: inherit;

        &:focus {
            background-color: $white;
            outline: none;

            &::placeholder {
                color: $black;
                opacity: 0.25;
            }
        }

        &::placeholder {
            opacity: 0;
        }
    }

    &__label {
        position: absolute;
        top: center;
        left: 15px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all $transition-delay;
    }

    &.focus {
        background-color: $white;
    }

    &.focus .text-field__label,
    &.not-empty .text-field__label,
    &.success .text-field__label,
    & *:focus + .text-field__label,
    & *.open + .text-field__label,
    &.focus textarea.text-field__input + .text-field__label,
    &.not-empty  textarea.text-field__input + .text-field__label,
    &.success textarea.text-field__input + .text-field__label {
        top: 10px;
        font-size: 13px;
        transform: none;
    }
}

.text-field.error .text-field__error-msg {
    display: block;
}