{{> head }}
<div class="addfriend" data-template="addfriend">

    <div class="page-header">
        <div class="wrapper page-header__wrapper">

            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Главная</span></a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span
                            class="breadcrumbs__text">Приведи друга</span></a>
                    </li>
                </ul>
            </div>

            <h1 class="page-header__main-title">Помогай друьям и получай<br>работы бесплатно!</h1>

            {{> widget-promocode }}

        </div>
    </div>

    <div class="wrapper main-wrapper">

        <div class="navigation navigation_light">
            <nav class="navigation__row">
                <ul class="navigation__list">
                    <li><a href="#" class="navigation__link navigation__link_active">Помогай друзьям</a></li>
                    <li><a href="#" class="navigation__link">Кто откликнулся</a></li>
                </ul>
            </nav>
        </div>

        <h2 class="title title_primary">Как передать промо-код?</h2>

    </div>
</div>

{{> footer }}
