{{> head }}
<div class="addfriend" data-template="addfriend">

    {{> page-header_friends }}

    <div class="navigation navigation_light">
        <nav class="navigation__row wrapper">
            <ul class="navigation__list">
                <li><a href="#" class="navigation__link navigation__link_active">Помогай друзьям</a></li>
                <li><a href="#" class="navigation__link">Кто откликнулся</a></li>
            </ul>
        </nav>
    </div>

    <div class="wrapper main-wrapper">
        <div class="title title_primary addfriend__title-primary">Как передать промо-код?</div>

        {{> share }}

        <div class="title title_primary addfriend__title-primary">Ваши друзья пока не с нами</div>
        <p class="addfriend__description">
            Помогите друзьям сделать лучший выбор. Расскажите, за что вы сами любите Заочник, и заинтересуйте друзей бонусами.
        </p>
        <div class="title title_primary addfriend__title-primary">Ваши друзья</div>
        <div class="two-card-row">

            {{> widget-achievements }}

        </div>
        <div class="title title_primary addfriend__title-primary">Все очень просто!</div>
        <div class="two-card-row">

            {{> info-card }}

        </div>
        <div class="title title_primary addfriend__title-primary">Порекомендуй нас друзьям и передай свой промокод!</div>
        <div class="promocode">[ 222979 ]</div>
        <p class="addfriend__description">После того, как твой друг закажет работу, вы оба получите деньги на счет. Этими деньгами вы сможете оплатить свои заказы!</p>
        <button class="btn btn_std btn_primary addfriend__btn-primary">Передать промокод</button>
    </div>
</div>

{{> footer }}
