{{> page-header/page-header_cribs }}

<div class="wrapper main-wrapper">

    {{> form/form-cribs class="cribs__form" }}

    <div class="title-sub">
        <div class="title-sub__main-text">Лента шпаргалок</div>
        <span class="title-sub__small-text">Найдено 350 шпаргалок</span>
    </div>

    {{> crib/crib }}

</div>