{{> head }}

<div data-template="index">
    <div class="wrapper main-wrapper">

        <div class="main__widget-notify">
            {{> widget-notify }}
        </div>

        <div class="main__columns">
            <div class="main__column-left">

                <div class="title-link">
                    <div class="title-link__text">Новости</div>
                    <a href="#" class="link title-link__link">Читать все</a>
                </div>

                {{> news }}

                <div class="title-link">
                    <span class="title-link__text">Полезняк для студента</span>
                    <a href="#" class="link title-link__link">Читать в блоге</a>
                </div>

                {{> blog-card }}

            </div>

            <div class="main__column-right">

               {{> banner-survey addClass="main__banner"}}

               {{> banner-app addClass="main__banner"}}

               {{> share_v2 addClass="main__banner"}}

            </div>
        </div>
    </div>
</div>
{{> footer }}

