{{> head }}

<div class="page-messages" data-template="order">

    {{> page-header_order }}

    <div class="wrapper main-wrapper">

        {{> user-card addClass="" }}

        {{> chat addClass="" }}

    </div>
</div>

{{> footer }}
