{{> head }}

<div class="page-header">
    <div class="wrapper">
        {{> breadcrumbs }}
        <div class="page-header__main-title">{{ pageTitle }}</div>
        {{> navigation }}
    </div>
</div>

<div data-template="my-orders">
    <div class="wrapper main-wrapper">

        {{> order-detail }}

    </div>
</div>

{{> footer }}
