{{> head }}
<div class="balance" data-template="pay-help">
    <div class="page-header">
        <div class="wrapper page-header__wrapper">
            {{> breadcrumbs }}
            <a href="#" class="go-back"></a>
            <div class="fx fx-justify-between fx-align-center">
                <div class="fx fx-col fx-lg-row fx-align-start page-header__col-info">
                    <div class="fx fx-nowrap fx-col fx-lg-row fx-align-start fx-lg-align-center">
                        <h2 class="page-header__main-title">
                            Ваш баланс:&nbsp;
                            <span class="page-header__title-balance">200</span>
                            <span class="page-header__title-currency">&nbsp;Р</span>
                        </h2>
                        <h2 class="page-header__main-title page-header__main-title_help">
                            Бонус:&nbsp;
                            <span class="page-header__title-balance page-header__title-balance_accent">500</span>
                            <span class="page-header__title-currency">&nbsp;Р</span>
                            <span class="icon icon_help"></span>
                        </h2>
                    </div>
                </div>
                <a href="/balance" class="btn btn_std btn_bright page-header__btn">Пополнить баланс
                    <span class="btn__icon btn__icon_plus">&times;</span>
                </a>
            </div>
            <div class="navigation">
                <nav class="navigation__row">
                    <ul class="navigation__list">
                        <li><a href="/balance/pay" class="navigation__link">К оплате</a></li>
                        <li><a href="/balance/pay_history" class="navigation__link">История платежей</a></li>
                        <li><a href="/balance/pay_out" class="navigation__link">Вывод средств</a></li>
                        <li><a href="/balance/pay_help" class="navigation__link navigation__link_active">Помощь по
                            оплате</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="wrapper main-wrapper">
        <div class="fx row__btn-container">
            <div class="col__btn-container col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon">
                    <span class="btn-icon__image btn-icon__image_visa"></span>
                    <span class="btn-icon__image btn-icon__image_mastercard"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_qiwi">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_yandex">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_euroset">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_svyaznoi">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_webmoney">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="col__btn-container">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_operators">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
        </div>

        <h2 class="title title_secondary">Для оплаты со счета мобильного телефона выставьте счет.</h2>

        <p class="text">
            <strong>1-ый способ: </strong>
            Сделать это можно в Вашем личном кабинете, нажав на вкладку <a href="/my-orders" class="link link_active">«Мои заказы»</a> , далее на номер заказа
            и выбрав раздел «Оплата». Вы выбираете способ оплаты с помощью мобильного телефона. Нажимаете «оплатить».
            Далее Вы вводите Ваш номер мобильного телефона и адрес электронной почты. Нажимаете «далее».
        </p>
        <p class="text">
            <strong>2-ой способ: </strong>
            Сделать это можно в Вашем личном кабинете, нажав на вкладку <a href="/my-orders" class="link link_active">«Мои заказы»</a>, далее на номер заказа
            и выбрав раздел <a href="/my-orders" class="link link_active">«Оплата»</a>. Вы выбираете способ оплаты с помощью Robokassa, нажимаете «далее». В открывшемся
            меню выберете способ оплаты с необходимого Вам мобильного оператора. Нажимаете далее. Вводите свой номер
            телефона и адрес электронной почты.
        </p>
        <p class="text">
            К Вам на телефон поступает смс с инструкцией подтверждения оплаты. Пожалуйста, следуйте четко данной
            инструкции и Ваша оплата пройдет успешно. (Пожалуйста, подождите прихода sms на указанный Вам номер. Для
            завершения платежа Вам необходимо ответить на входящее sms согласно инструкциям, полученным в
            сообщении).
        </p>
    </div>
</div>
{{> footer }}
