{{> head }}
<div class="balance" data-template="pay-history">

    {{> page-header_balance }}

    <div class="wrapper main-wrapper">

        {{> table-pay-history }}

    </div>

</div>
{{> footer }}
