{{> head }}
<div class="balance" data-template="pay-help">

    {{> page-header_balance }}

    <div class="wrapper main-wrapper">
        <div class="btn-group">
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon">
                    <span class="btn-icon__image btn-icon__image_visa"></span>
                    <span class="btn-icon__image btn-icon__image_mastercard"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_qiwi">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_yandex">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_euroset">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_svyaznoi">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_webmoney">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
            <div class="btn-group__btn">
                <button class="btn btn_rect btn_bright btn-icon btn-icon_operators">
                    <span class="btn-icon__image"></span>
                </button>
            </div>
        </div>

        <div class="title title_secondary balance__title_secondary">Для оплаты со счета мобильного телефона выставьте счет.</div>

        <p class="text">
            <strong>1-ый способ: </strong>
            Сделать это можно в Вашем личном кабинете, нажав на вкладку <a href="/my-orders" class="link link_active">«Мои заказы»</a> , далее на номер заказа
            и выбрав раздел «Оплата». Вы выбираете способ оплаты с помощью мобильного телефона. Нажимаете «оплатить».
            Далее Вы вводите Ваш номер мобильного телефона и адрес электронной почты. Нажимаете «далее».
        </p>
        <p class="text">
            <strong>2-ой способ: </strong>
            Сделать это можно в Вашем личном кабинете, нажав на вкладку <a href="/my-orders" class="link link_active">«Мои заказы»</a>, далее на номер заказа
            и выбрав раздел <a href="/my-orders" class="link link_active">«Оплата»</a>. Вы выбираете способ оплаты с помощью Robokassa, нажимаете «далее». В открывшемся
            меню выберете способ оплаты с необходимого Вам мобильного оператора. Нажимаете далее. Вводите свой номер
            телефона и адрес электронной почты.
        </p>
        <p class="text">
            К Вам на телефон поступает смс с инструкцией подтверждения оплаты. Пожалуйста, следуйте четко данной
            инструкции и Ваша оплата пройдет успешно. (Пожалуйста, подождите прихода sms на указанный Вам номер. Для
            завершения платежа Вам необходимо ответить на входящее sms согласно инструкциям, полученным в
            сообщении).
        </p>
    </div>
</div>
{{> footer }}
