{{> page-header_reviews }}

<div class="wrapper main-wrapper">

    <div class="title title_secondary">Отзывы</div>


    <div id="containerId" class="drop-container" ondrop="ondropThis(event)" ondragover="ondragoverThis(event)">

    </div>

    <div id="testId" class="obj" draggable="true" ondragstart="dragstart(event)">
        LOREM
    </div>

</div>