{{> head }}

<div data-template="settings">
    <div class="page-header" >
        <div class="wrapper page-header__wrapper">
            {{> breadcrumbs }}


            <div class="page-header__profile">

                <div class="page-header__col-info">

                    <div class="page-header__user">
                        <div class="avatar page-header__avatar"></div>
                        <div class="title title_primary page-header__profile-name">Юзэрнэйм Юзэрнэймович Анонимус</div>
                    </div>

                    <a href="#" class="link page-header__profile-edit">Редактировать профиль</a>
                    <a href="#" class="btn btn_round btn_bright btn_pencil page-header__btn-edit">
                        <span class="page-header__btn-edit page-header__btn-edit_icon"></span>
                    </a>
                </div>

                <div class="page-header__row-widget">

                    <div class="widget-price widget-price_promo" data-widget="promocode">
                        <div class="widget-price__header widget-price__header_help">Ваш промокод
                            <span class="widget-price__header-icon widget-price__header-icon_help"></span>
                        </div>
                        <div class="widget-price__value widget-price__value_promocode">492758</div>
                        <div>
                            <span class="widget-price__detail widget-price__detail_share">Скопировать</span>
                            <a class="widget-price__detail-share"></a>
                        </div>
                    </div>

                    <div class="widget-price widget-price_discount" data-widget="discount">
                        <div class="widget-price__header">Ваша накопительная скидка</div>
                        <div class="widget-price__value widget-price__value_discount">5<span class="widget-price__value_sup">%</span></div>
                        <span class="widget-price__detail">Для получения 10% совершите<br> заказы на сумму 2 516,19 Р</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper main-wrapper">

        <form action="" class="form">
            <div class="form__frame">
                <div class="form__header">Контактная информация</div>
                <input type="text" title="field">
                <input type="text" title="field">
                <input type="text" title="field">
                <div class="form__row">
                    <span>Уведомление по заказам:</span>
                    <span>E-mail</span>
                    <label class="slide-toggle slide-toggle_primary slide-toggle_small">
                        <input class="slide-toggle__input" type="checkbox">
                        <span class="slide-toggle__slider">
                            <span class="slide-toggle__bullet"></span>
                        </span>
                    </label>
                    <span>СМС</span>
                    <label class="slide-toggle slide-toggle_primary slide-toggle_small">
                        <input class="slide-toggle__input" type="checkbox">
                        <span class="slide-toggle__slider">
                            <span class="slide-toggle__bullet"></span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="form__frame">
                <div class="form__header">Личные данные</div>
                <div class="form form__row"></div>
                <div class="form form__row"></div>
                <div class="form form__row"></div>
                <div class="form form__row"><div class="btn btn_std btn_secondary">Сохранить</div></div>
            </div>
        </form>
    </div>
</div>
{{> footer }}
