.info-card {
    display: flex;
    flex: 1 0 50%;
    min-height: 250px;
    padding: 0 15px 30px;

    @media (--tablet) {
        flex-basis: 100%;
    }

    @media (--mobile) {
        min-width: 320px;
    }

    &__inner {
        position: relative;
        padding: 20px 30px 25px;
        border: solid 1px rgb(220, 220, 220);
        border-radius: 10px;
        height: auto;
        flex: 1;

        @media (--mobile) {
            overflow: hidden;
            padding: 20px;
        }

        &_books {
            padding-right: 100px;

            @media (--mobile) {
                padding-right: 80px;
            }
        }
    }

    &__content {
        margin-top: 20px;
        margin-bottom: 40px;
        color: rgb(51, 51, 51);
        font-size: 18px;
        font-weight: 300;
        line-height: 44px;

        @media (--mobile) {
            font-size: 16px;
            line-height: 35px;
            margin-top: 10px;
            margin-bottom: 35px;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.54);
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: inherit;
        padding-bottom: inherit;
    }

    &__img {
        position: relative;
        right: -20px;
        float: right;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &_books {
            position: absolute;
            background-image: url("./booktower.png");
            bottom: 10px;
            right: 0;
            size: 100px 245px;

            @media (--mobile) {
                size: 90px 240px;
                bottom: 0;
                right: -10px;
                position: absolute;
            }
        }

        &_hat {
            background-image: url("./hat.png");
            size: 195px 130px;

            @media (--desktop) {
                size: 150px 100px;
                right: -12px;
                top: -10px;
            }

            @media (--mobile) {
                size: 110px 75px;
            }
        }
    }

    &__price {
        font-weight: 600;
        color: $secondary;
    }
}