<div class="fx fx-justify-between fx-align-center bar">

    <a class="bar__logo logo logo_com" href="/"></a>

    <div class="bar__social-link-bar">
        <a href="#" class="bar__social-link"><img src="./iconmonstr-vk-4.svg" alt="vk"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-facebook-4.svg" alt="face"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-youtube-4.svg" alt="yout"/></a>
        <a href="#" class="bar__social-link"><img src="./telegram.svg" alt="telegr"/></a>
        <a href="#" class="bar__social-link"><img src="./insta.svg" alt="insta"/></a>
    </div>

    <a class="bar__phone-number" href="tel:88003338544">
        <span class="bar__phone-number-icon"></span>
        8-800-333-85-44
    </a>

    {{> button type="std" theme="primary" caption="Хочу новый заказ" addClass="bar__order-btn" }}

    <div class="fx user-panel">
        <div class="fx fx-center user-panel__controls">
            {{> dropdown-btn type="msg" color="primary" count="3" addClass="user-panel__dropdown-btn" addAttr='data-jq-dropdown="#jq-dropdown-1"'}}
            {{> dropdown-btn type="notify" color="secondary" count="5" addClass="user-panel__dropdown-btn" addAttr='data-jq-dropdown="#jq-dropdown-2"'}}
        </div>
        <div class="fx fx-center">
            <div class="fx fx-center text-center user-panel__user">
                <div class="user-panel__hello">Привет, <span class="user-panel__username">{{ username }}</span></div>
            </div>
            <div class="fx fx-center user-panel__avatar-container" data-jq-dropdown="#jq-dropdown-3">
                <div class="avatar user-panel__avatar"></div>
                <span class="arrow-down arrow-down_primary user-panel__arrow-down"></span>
            </div>
        </div>
    </div>
</div>

{{> notifications }}
{{> messages }}
{{> dropdown-user-menu }}

