<div class="fx fx-justify-between fx-al-center bar">

    <a class="bar__logo logo logo_com" href="/"></a>

    <div class="bar__social-link-bar">
        <a href="#" class="bar__social-link"><img src="./iconmonstr-vk-4.svg" alt="vk"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-facebook-4.svg" alt="face"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-youtube-4.svg" alt="yout"/></a>
        <a href="#" class="bar__social-link"><img src="./telegram.svg" alt="telegr"/></a>
        <a href="#" class="bar__social-link"><img src="./insta.svg" alt="insta"/></a>
    </div>

    <a class="bar__phone-number" href="tel:88003338544">
        <div class="im im-phone bar__phone-number-icon"></div>
        8-800-333-85-44
    </a>

    {{> button type="std" theme="primary" caption="Хочу новый заказ" addClass="bar__order-btn" }}

    {{!-- user-ava --}}

    <div class="col-auto">
        <div class="fx fx-justify-between fx-al-center container">
            <div class="fx fx-al-center user-panel">
                <div class="fx fx-center text-center user-panel__user">
                    <span class="user-panel__username_accent">Привет,</span>
                    <span class="user-panel__username">{{ username }}</span>
                </div>

                {{!-- user-ava --}}

                {{!-- btn user --}}

                {{!-- user-menu --}}

            </div>
        </div>
    </div>

</div>
