<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__ancor"><span>Главная</span></a>
    </li>
    <li class="breadcrumbs__item">
        <a href="/user" class="breadcrumbs__ancor"><span>Пользователь</span></a>
    </li>
    <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span>Заказы</span></a>
    </li>
</ul>
