<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__ancor"><span>Главная</span></a>
    </li>
    <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__ancor"><span>Лента работ</span></a>
    </li>
    <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span>Заявки</span></a>
    </li>
</ul>
