
<div class="fx fx-row">
    <button class="btn btn_primary">Основная</button>
    <button class="btn btn_bright">Светлая</button>
    <button class="btn btn_bright btn_round btn_close"></button>
    <button class="btn btn_primary btn_round btn_close"></button>
</div>
