{{!-- DEMO --}}

{{!--

<div class="fx fx-row">
    <button class="btn btn_primary">Основная</button>
    <button class="btn btn_error">Error-style</button>
    <button class="btn btn_succes">Succes style</button>
    <button class="btn btn_bright">Bright style</button>
    <button class="btn btn_bright btn_round btn_close"></button>
    <button class="btn btn_primary btn_round btn_close"></button>
    <button class="btn btn_primary btn_round btn_plus"></button>
</div>

--}}

<button class="btn btn_{{type}}">{{caption}}</button>