{{> dropdown-btn type='msg' count='12' color='primary'}}

<div class="dropdown js-dropdown-messages">
    <div class="container dropdown__inner">

        <ul class="dropdown__user-menu">
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Мои заказы</span></li>
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Баланс</span></li>
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Натсройки</span></li>
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Приведи друга</span></li>
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Шпаргалки</span></li>
            <li class="dropdown__menu-item"><span class="dropdown__menu-text">Выход</span></li>
        </ul>

        <div class="row dropdown__msg-container dropdown__msg-container_new">
            <div class="col">
                <div class="fx fx-al-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                    <div class="dropdown__status">Новое</div>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-al-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-al-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-al-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
    </div>
</div>