<div class="fx fx-sp-between fx-al-center notify-widget" data-template="invite-friends">
    <div class="fx fx-col notify-widget__content-block">
        <h3 class="notify-widget__head">По <span class="text_accent">2 бесплатной</span> курсовой вам и друзьям</h3>
        <div class="notify-widget__content">Зовите к нам друзей! Дарим по 2 курсовой вам и другу после первой оплаты
            работы
        </div>
    </div>
    <div class="fx fx-row fx-al-center notify-widget__controls-block">
        <div class="notify-widget__img"></div>
        {{> button type="std" theme="primary" caption="Пригласить друга"}}
        {{> button type="round" theme="bright" icon="close"}}
    </div>
</div>

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="fx fx-sp-between fx-al-center notify-widget" data-template="">
    <div class="fx fx-col notify-widget__content-block">
        <h3 class="notify-widget__head">По <span class="text_accent">2 бесплатной</span> курсовой вам и друзьям</h3>
        <div class="notify-widget__content">Зовите к нам друзей! Дарим по 2 курсовой вам и другу после первой оплаты
            работы
        </div>
    </div>
    <div class="fx fx-row fx-al-center notify-widget__controls-block">
        <button class="btn btn_bright notify-widget__btn">Пригласить друга</button>
        <button class="btn btn_bright btn_round btn_close notify-widget__close-btn"></button>
    </div>
</div>

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="fx fx-sp-between fx-al-center notify-widget" data-template="">
    <div class="fx fx-col notify-widget__content-block">
        <h2 class="notify-widget__head">Виталий, добрый вечер!</h2>
        <div class="notify-widget__content">Пятничная музыкальная подборка от Zaochnik. И пусть выходные пройдут
            отлично!
        </div>
    </div>
    <div class="fx fx-row fx-al-center notify-widget__controls-block">
        <button class="btn btn_bright btn_round btn_close notify-widget__close-btn"></button>
    </div>
</div>

<div class="div" style="margin: 20px; border-bottom: 1px solid greenyellow"></div>

<div class="fx fx-sp-between fx-al-center notify-widget" data-template="new-order-notify">
    <div class="fx fx-row fx-al-center notify-widget__content-block">
        <div class="notify-widget__icon"></div>
        <div class="notify-widget__content">В данный момент активных заказов нет.</div>
    </div>
    <div class="fx fx-row fx-al-center notify-widget__controls-block">
        <div class="notify-widget__controls-caption">Оформить новый заказ</div>
        <button class="btn btn_primary btn_round btn_plus notify-widget__plus-btn"></button>
    </div>
</div>

