<div class="icon icon_notify js-notify-icon">
    <div class="msg-count msg-count_secondary">
        <span class="msg-count-item">12</span>
    </div>
</div>

<div class="messages js-msg-menu">
    <div class="container messages__inner messages__inner_dash">
        <div class="row fx fx-al-center fx-justify-between messages__head-container messages__head-container_notify">
            <div class="col fx fx-al-center fx-justify-between">
                <h2 class="messages__head">Уведомления</h2>
                <a href="#" class="messages__set-icon"></a>
            </div>
        </div>
        <div class="row messages__msg-container messages__msg-container_new messages__msg-container_notify">
            <div class="col">
                <div class="fx fx-al-center fx-justify-between messages__theme">
                    <span class="messages__date">03-03-2017</span>
                </div>
                <div class="messages__msg-text">Статус заказа <a href="#" class="text_accent">№1020073</a> изменен на
                    Выполнение работы
                </div>
            </div>
        </div>
    </div>
</div>
