<div class="progress-bar">
    <div class="fx fx-al-center progress-bar__container">
        <div class="fx fx-center progress-bar__fill progress-bar__fill_{{type}}">
            <div class="progress-bar__icon progress-bar__icon_{{icon}}"></div>
            <div class="progress-bar__caption progress-bar__caption_on-fill">{{caption}}</div>
        </div>
    </div>
</div>