<div class="fx fx-col sidebar">
    <a class=" sidebar__link sidebar__link_active" href="#" >
        <span class="sidebar__icon sidebar__icon_home"></span>
        Главная
    </a>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_folder"></span>
        Мои заказы
    </a>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_card" ></span>
        Баланс
        <span class="sidebar__balance">200P</span>
    </a>
    <hr>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_speech" ></span>
        Отзывы
    </a>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_gear" ></span>
        Настройки
    </a>
    <hr>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_gift"></span>
        Приведи друга
    </a>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_book"></span>
        Шпаргалки
    </a>
    <hr>
    <a class="sidebar__link" href="#" >
        <span class="sidebar__icon sidebar__icon_exit" ></span>
        Выход
    </a>
</div>

