.link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    transition: all $transition-delay;

    &:hover {
        color: $primary-hov;
    }

    &:hover &__icon_gear {
        background-image: svg-load("../../../svg/iconmonstr-gear.svg", fill=$primary-hov);
    }
    &:hover &__icon_gear {
        background-image: svg-load("../../../svg/iconmonstr-gear.svg", fill=$primary-hov);
    }
    &:hover &__icon_home {
        background-image: svg-load("../../../svg/iconmonstr-home.svg", fill=$primary-hov);
    }
    &:hover &__icon_folder {
        background-image: svg-load("../../../svg/iconmonstr-folder.svg", fill=$primary-hov);
    }
    &:hover &__icon_card {
        background-image: svg-load("../../../svg/iconmonstr-credit-card.svg", fill=$primary-hov);
    }
    &:hover &__icon_gift {
        background-image: svg-load("../../../svg/iconmonstr-christmas.svg", fill=$primary-hov);
    }
    &:hover &__icon_book {
        background-image: svg-load("../../../svg/iconmonstr-book.svg", fill=$primary-hov);
    }
    &:hover &__icon_exit {
        background-image: svg-load("../../../svg/iconmonstr-log-out.svg", fill=$primary-hov);
    }
    &:hover &__icon_speech {
        background-image: svg-load("../../../svg/iconmonstr-speech-bubble.svg", fill=$primary-hov);
    }
    &:hover &__icon_speech-2 {
        background-image: svg-load("../../../svg/iconmonstr-speech-bubble-2.svg", fill=$primary-hov);
    }
    &:hover &__icon_skype {
        background-image: svg-load("../../../svg/iconmonstr-skype.svg", fill=$white);
    }
    &:hover &__icon_telegram {
        background-image: svg-load("../../../svg/iconmonstr-telegram.svg", fill=$white);
    }
    &:hover &__icon_phone {
        background-image: svg-load("../../../svg/iconmonstr-phone.svg", fill=$white);
    }

    &_active {
        color: $primary;

        &:hover {
            color: $primary-hov;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        top: center;
        size: 24px;
        min-size: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all $transition-delay;

        &_gear {
            background-image: svg-load("../../../svg/iconmonstr-gear.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_home {
            background-image: svg-load("../../../svg/iconmonstr-home.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_folder {
            background-image: svg-load("../../../svg/iconmonstr-folder.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_card {
            background-image: svg-load("../../../svg/iconmonstr-credit-card.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_gift {
            background-image: svg-load("../../../svg/iconmonstr-christmas.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_book {
            background-image: svg-load("../../../svg/iconmonstr-book.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_exit {
            background-image: svg-load("../../../svg/iconmonstr-log-out.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_speech {
            background-image: svg-load("../../../svg/iconmonstr-speech-bubble-2.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_skype {
            background-image: svg-load("../../../svg/iconmonstr-skype.svg", fill=$primary);
        }

        &_telegram {
            background-image: svg-load("../../../svg/iconmonstr-telegram.svg", fill=$secondary);
        }

        &_phone {
            background-image: svg-load("../../../svg/iconmonstr-phone.svg", fill=#7bc1a1);
        }
    }
}