.sidebar {
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    min-width: 256px;
    padding-top: 90px;
    width: 256px;

    @media (--tablet) {
        display: none;
    }

    &__inner {
        margin-top: 38px;
        position: sticky;
        top: 90px;
    }

    &__link {
        margin-left: 30px;
        position: relative;
        padding: 10px 0 10px 45px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        transition: color $transition-delay;

        &:hover {
            color: $primary-hov;
        }

        &_active {
            color: $primary;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        top: center;
        size: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &_home {
            background-image: svg-load("./iconmonstr-home.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_folder {
            background-image: svg-load("./iconmonstr-folder.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_card {
            background-image: svg-load("./iconmonstr-credit-card.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_speech {
            background-image: svg-load("./iconmonstr-speech-bubble-2.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_gear {
            background-image: svg-load("./iconmonstr-gear.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_gift {
            background-image: svg-load("./iconmonstr-christmas.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_book {
            background-image: svg-load("./iconmonstr-book.svg", fill=rgba(0, 0, 0, 0.5));
        }

        &_exit {
            background-image: svg-load("./iconmonstr-log-out.svg", fill=rgba(0, 0, 0, 0.5));
        }
    }

    &__balance {
        color: $primary;
        margin-left: 16px;
        font-weight: 600;
    }

    hr {
        margin-right: 10%;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: $black;
        width: 90%;
    }
}