.balance {

    & .btn {
        padding: 0 20px;
    }

    & .balance__btn-main {
        width: 252px;
        height: 66px;
        border-radius: 33px;
        font-weight: normal;
        font-size: 16px;
        color: $white;

        @media (--mobile) {
            margin: * auto;
        }
    }

    & .row {
        display: flex;

        &__btn-container {
            margin: 10px -10px;

            @media (--mobile-small) {
                margin: * 0;
            }
        }
    }

    & .col {

        &__btn-container {
            height: 107px;
            min-height: 107px;
            min-width: 305px;
            padding: * 10px;
            margin-top: 8px;
            margin-bottom: 8px;

            @media (--mobile) {
                margin: * auto;
            }

            @media (--mobile-small) {
                padding: 0;
                width: 100%;
            }
        }
    }
}



