.balance {

    & .balance__btn-main {
        width: 252px;
        height: 66px;
        border-radius: 33px;
        font-weight: normal;
        font-size: 16px;
        color: $white;

        @media (--mobile) {
            margin: * auto;
        }
    }

    & .row {
        display: flex;

        &__btn-container {
            margin: 10px -10px;

            @media (--mobile-small) {
                margin: * 0;
            }
        }
    }

    & .col {

        &__btn-container {
            height: 107px;
            min-height: 107px;
            min-width: 305px;
            padding: * 10px;
            margin-top: 8px;
            margin-bottom: 8px;

            @media (--mobile) {
                margin: * auto;
            }

            @media (--mobile-small) {
                padding: 0;
                width: 100%;
            }
        }
    }
}

.alert {
    position: relative;
    padding-left: 50px;

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: center;
        size: 36px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: svg-load("../../../svg/iconmonstr-warning.svg" fill=$error);
    }

    &__content {
        line-height: normal;
        font-size: 14px;
        color: $black;
    }
}

.balance {

    &__btn-return {
        padding-left: 50px;
        padding-right: 50px;
        height: 66px;
        border-radius: 33px;
        font-weight: normal;
        margin-top: 30px;
    }


    &__input-container {
        max-width: 300px;
    }

    &__title_secondary {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__file-list {
        margin-top: 30px;
        max-width: 375px;
        flex: 1;

        @media (--desktop) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (--mobile) {
            max-width: 100%;
        }
    }
}



