<div class="form form_settings">
    <form action="" name="settingsForm" class="form__fields" novalidate>
        <div class="form__frame">
            <div class="form__header">Контактная информация</div>
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_name"
                               placeholder=""
                               id="settingsFirstName"
                               value="Sasha"
                               name="firstName" />
                        <label class="text-field__label" for="settingsFirstName">Ваше Имя</label>
                        <div class="text-field__error-msg">Введите имя</div>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_name"
                               placeholder=""
                               id="settingsLastName"
                               value="Noname"
                               name="lastName" />
                        <label class="text-field__label" for="settingsLastName">Ваша фамилия</label>
                        <div class="text-field__error-msg">Введите фамилию</div>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_phone"
                               placeholder=""
                               rel="phone"
                               name="phone"
                               autocomplete="off"
                               value="+375259008048"
                               id="settingsPhone" />
                        <label class="text-field__label" for="settingsPhone">Телефон</label>
                        <div class="text-field__error-msg">Введите номер телефона</div>
                    </div>
                </div>
            </div>

            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_email "
                               placeholder=""
                               name="email"
                               id="settingsMail" />
                        <label class="text-field__label" for="settingsMail">E-mail</label>
                        <div class="text-field__error-msg">Введите e-mail</div>
                    </div>
                </div>
            </div>

            <div class="form__controls">
                <span class="form__controls-caption">Уведомление по заказам:</span>
                <div class="form__toggle-wrap">
                    <div class="form__toggle">
                        <span class="slide-toggle__caption">E-mail</span>
                        <label for="settings.notifySMS" class="slide-toggle slide-toggle_primary slide-toggle_small">
                            <input name="notify" id="settings.notifySMS" class="slide-toggle__input" type="checkbox">
                            <span class="slide-toggle__slider">
                            <span class="slide-toggle__bullet"></span>
                        </span>
                        </label>
                    </div>

                    <div class="form__toggle">
                        <span class="slide-toggle__caption">СМС</span>
                        <label for="settings.notifyMail" class="slide-toggle slide-toggle_primary slide-toggle_small">
                            <input name="sms" id="settings.notifyMail" class="slide-toggle__input" type="checkbox">
                            <span class="slide-toggle__slider">
                            <span class="slide-toggle__bullet"></span>
                        </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__frame">
            <div class="form__header">Личные данные</div>
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_birthday"
                               placeholder="31.12.2012"
                               name="birthday"
                               id="settingsBirthday"
                               value="31.12.2012"
                               autocomplete="off"
                               data-toggle="datepicker" />
                        <label class="text-field__label" for="settingsBirthday">День Рождения</label>
                        <span class="form__datepicker-icon js-datepicker-icon"></span>
                        <div class="text-field__error-msg">Введите дату</div>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_speciality"
                               name="speciality"
                               placeholder=""
                               id="settingsSpeciality" />
                        <label class="text-field__label" for="settingsSpeciality">Специальность</label>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col form__col_70">
                    <div class="text-field">
                        <input type="text"
                               class="text-field__input text-field__input_institution"
                               name="institution"
                               placeholder=""
                               id="settingsInstitution" />
                        <label class="text-field__label" for="settingsInstitution">Учебное заведение</label>
                    </div>
                </div>
                <div class="form__col form__col_30">
                    <div class="select">
                        <select name="course" id="settingsCourse" class="text-field">
                            <option value="hide" class="text-field__label">Курс</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <label class="text-field__label" for="settingsCourse"></label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn_std btn_secondary form__btn js-button">Сохранить</button>
        </div>
    </form>
</div>