<div class="form form_cribs">
    <form name="cribFindForm" class="form__fields" novalidate>
        <div class="form__frame">
            <div class="form__row">
                <div class="form__col form__col_fluid">
                    <div class="text-field">
                        <input type="text"
                               id="crib.theme"
                               class="text-field__input"
                               placeholder=""
                               name="crib.theme" />
                        <label class="text-field__label" for="crib.theme">Поиск...</label>
                        <button class="btn btn_std btn_secondary form__btn">
                            <span class="btn__caption">Найти</span>
                            <span class="btn-icon__icon btn-icon__icon_find btn-icon__icon_find_white"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__col">
                    <div class="text-field">
                        <input type="text"
                               id="crib.way"
                               class="text-field__input"
                               placeholder=""
                               name="crib.way" />
                        <label class="text-field__label" for="crib.way">Направление</label>
                    </div>
                </div>
                <div class="form__col">
                    <div class="text-field">
                        <input type="text"
                               id="crib.subject"
                               class="text-field__input"
                               placeholder=""
                               name="crib.subject" />
                        <label class="text-field__label" for="crib.subject">Предмет</label>
                    </div>
                </div>
            </div>
            <div class="form__controls">
                <span class="link form__control form__control_active">Свернуть</span>
            </div>
        </div>
    </form>
</div>

<div class="test-svg">

</div>