.fx {
    display: flex;

    &.fx-row {
        margin-right: -15px;
        margin-left: -15px;
        flex-wrap: wrap;
    }

    &.fx-col {
        flex-direction: column;
    }

    &.fx-al-center {
        align-items: center;
    }

    &.fx-justify-center {
        justify-content: center;
    }

    &.fx-justify-between {
        justify-content: space-between;
    }

    &.fx-justify-end {
        justify-content: flex-end;
    }

    &.fx-center {
        align-items: center;
        justify-content: center;
    }

    &-auto {
        display: inline-flex;
    }

    @media (--mobile) {

        &.fx-sm-center {
            align-items: center;
            justify-content: center;
        }
    }

    @media (--tablet) {

        &.fx-md-center {
            align-items: center;
            justify-content: center;
        }
    }

    @media (--desktop) {

        &.fx-lg-center {
            align-items: center;
            justify-content: center;
        }
    }
}

/* FX MEDIA */

@media (--mobile) {

    .fx-sm {display: flex;}
}

@media (--tablet) {

    .fx-md {display: flex;}
}

@media (--desktop) {

    .fx-lg {display: flex;}
}

/* FX ALIGN MEDIA MAIN AXIS*/

@media (--mobile) {

    .fx-sm-justify-between {justify-content: space-between;}
    .fx-sm-start {justify-content: flex-start;}
    .fx-sm-end {justify-content: flex-end;}
}

@media (--tablet) {

    .fx-md-justify-between {justify-content: space-between;}
    .fx-md-start {justify-content: flex-start;}
    .fx-md-end {justify-content: flex-end;}
}

@media (--desktop) {

    .fx-lg-justify-between {justify-content: space-between;}
    .fx-lg-start {justify-content: flex-start;}
    .fx-lg-end {justify-content: flex-end;}
}

/* FX ALIGN MEDIA CROSS AXIS*/

@media (--mobile) {
    .fx-sm-align-start {align-items: flex-start;}
}

@media (--tablet) {
    .fx-md-align-start {align-items: flex-start;}
}

@media (--desktop) {
    .fx-lg-align-start {align-items: flex-start;}
}

/* ROW TO COL */

@media (--mobile) {

    .fx-sm-col {flex-direction: column;}
}

@media (--tablet) {

    .fx-md-col {flex-direction: column;}
}

@media (--desktop) {

    .fx-lg-col {flex-direction: column;}
}

/* CENTER */

.center {margin: auto;}

@media (--mobile) {

    .sm-center {margin: auto;}
}

@media (--tablet) {

    .md-center {margin: auto;}
}

@media (--desktop) {

    .lg-center {margin: auto;}
}


/* ORDERS */

.fx-order-1 {order: 1;}
.fx-order-2 {order: 2;}
.fx-order-3 {order: 3;}

@media (--mobile) {

    .fx-sm-order-1 {order: 1;}
    .fx-sm-order-2 {order: 2;}
    .fx-sm-order-3 {order: 3;}
}

@media (--tablet) {

    .fx-md-order-1 {order: 1;}
    .fx-md-order-2 {order: 2;}
    .fx-md-order-3 {order: 3;}
}

@media (--desktop) {

    .fx-lg-order-1 {order: 1;}
    .fx-lg-order-2 {order: 2;}
    .fx-lg-order-3 {order: 3;}
}