@import "_media.css";
@import "_root.css";

/* GRID */
@import "grid.css";

/* SMALL ROOTS BLOCKS */
@import "../views/blocks/avatar/avatar.css";
@import "../views/blocks/breadcrumbs/breadcrumbs.css";
@import "../views/blocks/button/button.css";
@import "../views/blocks/dropdown-btn/dropdown-btn.css";
@import "../views/blocks/logo/logo.css";
@import "../views/blocks/link/link.css";
@import "../views/blocks/navigation/navigation.css";
@import "../views/blocks/progress-bar/progress-bar.css";
@import "../views/blocks/contacts-bar/contacts-bar.css";
@import "../views/blocks/spinner/spinner.css";

/* COMPLEX BLOCKS */
@import "../views/blocks/bar/bar.css";
@import "../views/blocks/page-header/page-header.css";
@import "../views/blocks/order-detail/order-detail.css";
@import "../views/blocks/form/form.css";

/* MENUS */
@import "../views/blocks/dropdown-menu/dropdown-menu.css";
@import "../views/blocks/sidebar/sidebar.css";
@import "../views/blocks/news/news.css";
@import "../views/blocks/file-card/file-card.css";

/* WIDGETS */
@import "../views/blocks/notify-widget/notify-widget.css";
@import "../views/blocks/widget-price/widget-price.css";
@import "../views/blocks/widget-date/widget-date.css";
@import "../views/blocks/widget-files/widget-files.css";
@import "../views/blocks/widget-countdown/widget-countdown.css";

/* LAYOUT */
@import "../views/blocks/index/index.css";
@import "../views/blocks/my-orders/my-orders.css";
@import "../views/blocks/messages/messages.css";


@font-face {
    font-family: "Gotham Pro Regular";
    src: url("../fonts/GothamProRegular.woff2") format("woff2"), url("../fonts/GothamProRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../fonts/GothamProBold.woff2") format("woff2"), url("../fonts/GothamProBold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("../fonts/GothamProLight.woff2") format("woff2"), url("../fonts/GothamProLight.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    background-color: $white;
    min-height: 100vh;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.page-wrap {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 88px;
    padding-bottom: 50px;

    @media (--mobile) {
        padding-top: 68px;
    }
}

.main-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;

    @media (--tablet) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.wrapper {
    max-width: 1269px;
    margin: * auto;
    padding: * 15px;
}

.text_accent {
    color: $primary;

    &_underline {
        text-decoration: underline;
    }
}

.pill-label {
    border-radius: 50%;
    color: $white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    transition: all $transition-delay;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 3px;
    background-color: rgb(33, 166, 208, 0.3);

    &:hover {
        background-color: $primary-hov;
    }
}