@import "_media.css";
@import "_root.css";

/* COMPONENTS */

@import "../../views/blocks/grid/grid.css";
@import "../../views/blocks/button/button.css";
@import "../../views/blocks/news/news.css";
@import "../../views/blocks/notify-widget/notify-widget.css";
@import "../../views/blocks/progress-bar/progress-bar.css";
@import "../../views/blocks/order-detail/order-detail.css";
@import "../../views/blocks/spinner/spinner.css";
@import "../../views/blocks/flex/flex.css";
@import "../../views/blocks/dropdown-menu/dropdown-menu.css";
@import "../../views/blocks/dropdown-btn/dropdown-btn.css";
@import "../../views/blocks/navigation/navigation.css";
@import "../../views/blocks/breadcrumbs/breadcrumbs.css";

@font-face {
    font-family: "Gotham Pro Regular";
    src: url("../fonts/GothamProRegular.woff2") format("woff2"), url("../fonts/GothamProRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../fonts/GothamProBold.woff2") format("woff2"), url("../fonts/GothamProBold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("../fonts/GothamProLight.woff2") format("woff2"), url("../fonts/GothamProLight.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    background-color: $white;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    max-width: 1269px;
    margin: * auto;
    padding: * 15px;

    @media (--mobile) {
        padding: * 20px;
    }
}

.text_accent {
    color: $primary;

    &_underline {
        text-decoration: underline;
    }
}

.page-header {
    background-image: linear-gradient(to right, rgb(12, 15, 41), rgb(43, 58, 99) 50%, rgb(12, 15, 41));
    overflow: hidden;
}

.page-title {
    font-size: 50px;
    font-weight: 300;
    color: rgba(254, 254, 254, 0.7);

    @media (--mobile) {
        font-size: 28px;
    }
}