<div class="crib">
    <div class="crib__inner">
        <div class="crib__content">
            <div class="crib__header">
                <div class="crib__left-text crib__left-text_subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, officiis?</div>
                <div class="crib__right-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, placeat.</div>
            </div>
            <div class="crib__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci corporis explicabo fuga harum quia quisquam rem suscipit? Minima, sed!</div>
            <div class="crib__footer">
                <div class="crib__left-text"><span class="link crib__show">Показать список</span></div>
                <div class="crib__right-text crib__views">cкачали: 666</div>
            </div>
        </div>
        <div class="crib__controls">
            <button class="btn btn_std btn_secondary crib__btn">
                Скачать
                <span class="btn-icon__icon btn-icon__icon_download"></span>
            </button>
        </div>
    </div>
</div>