.badge {
    display: inline-block;
    size: 20px;
    border-radius: 50%;
    color: $white;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_primary {
        background-color: $primary;
    }

    &_secondary {
        background-color: $secondary;
    }
}