.logo {
    display: inline-block;
    size: 216px 44px;
    background-size: 216px 44px;
    background-repeat: no-repeat;

    @media (--mobile) {
        size: 37px 32px;
        background-size: 37px 32px;
    }

    &_com {
        background-image: svg-load("../../../svg/logo.svg", fill=#464646);
        
        @media (--mobile) {
            background-image: url("./logo-mobile.png");
        }
    }

    &_com&_invert {
        background-image: svg-load("../../../svg/logo.svg", fill=$white);
    }

    &_ru {
        background-image: svg-load("../../../svg/logo-ru.svg", fill=#464646);
    }

    &_ru&_invert {
        background-image: svg-load("../../../svg/logo-ru.svg", fill=$white);
    }
}