<div class="banner-app {{addClass}}">
    <div class="banner-app__text">
        <span class="banner-app__title">Учиться легко!</span>
        <span class="banner-app__content">C приложением от Заочника</span>
    </div>
    <div class="rate banner-app__rate">
        <span class="rate__stars"></span>
        <span class="rate__count">240</span>
    </div>
    <a href="#" class="banner-app__google-badge"></a>
</div>