<div class="aside-banner banner-survey {{addClass}}">
    <a href="#" class="banner-survey__main">
        <div class="banner-survey__wrapper">
            <div class="banner-survey__left-side">
                <div class="banner-survey__title">Ваша скидка:</div>
                <div class="banner-survey__text">Для получения 5% совершите заказы на сумму 516,19 Р</div>
                <button class="btn btn_std btn_bright banner-survey__btn">Повысить скидку</button>
            </div>
            <div class="banner-survey__right-side">
                <div class="banner-survey__num-wrap">
                    <div class="banner-survey__num">6</div>
                    <div class="banner-survey__num banner-survey__num_highlight">5</div>
                    <div class="banner-survey__num">4</div>
                </div>
            </div>
        </div>
    </a>
</div>