<div class="fx fx-nowrap fx-justify-between fx-align-center bar">
    <a class="bar__logo logo logo_com" href="/"></a>
    <div class="bar__social-link-bar">
        <a href="#" class="bar__social-link"><img src="./iconmonstr-vk-4.svg" alt="vk"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-facebook-4.svg" alt="face"/></a>
        <a href="#" class="bar__social-link"><img src="./iconmonstr-youtube-4.svg" alt="yout"/></a>
        <a href="#" class="bar__social-link"><img src="./telegram.svg" alt="telegr"/></a>
        <a href="#" class="bar__social-link"><img src="./insta.svg" alt="insta"/></a>
    </div>
    <a class="bar__phone-number" href="tel:88003338544">
        <span class="bar__phone-number-icon"></span>
        8-800-333-85-44
    </a>
    {{> button type="std" theme="primary" caption="Хочу новый заказ" addClass="bar__order-btn" }}
    <div class="fx user-panel">
        <div class="fx fx-center user-panel__controls">
            <div class="dropdown-btn dropdown-btn_msg js-dropdown-btn user-panel__dropdown-btn" data-jq-dropdown="#jq-dropdown-1">
                <div class="dropdown-btn__label dropdown-btn__label_primary">
                    <span class="dropdown-btn__label-number">3</span>
                </div>
            </div>
            <div class="dropdown-btn dropdown-btn_notify js-dropdown-btn user-panel__dropdown-btn" data-jq-dropdown="#jq-dropdown-2">
                <div class="dropdown-btn__label dropdown-btn__label_secondary">
                    <span class="dropdown-btn__label-number">5</span>
                </div>
            </div>
        </div>
        <div class="fx fx-center">
            <div class="fx fx-center text-center user-panel__user">
                <div class="user-panel__hello">Привет, <span class="user-panel__username">{{ username }}</span></div>
            </div>
            <div class="fx fx-center user-panel__avatar-container" data-jq-dropdown="#jq-dropdown-3">
                <div class="avatar user-panel__avatar"></div>
                <span class="arrow-down arrow-down_primary user-panel__arrow-down"></span>
            </div>
        </div>
    </div>
</div>
{{> dropdown-notifications }}
{{> dropdown-messages }}
{{> dropdown-user-menu }}

