<button class="btn btn_rect fx fx-center order-detail__btn order-detail__btn_info">
    <span class="order-detail__btn-icon order-detail__btn-icon_info"></span>
    <span class="order-detail__btn-caption order-detail__btn-caption_wait">Поясните задание</span>
</button>