<button class="btn btn_rect order-card__btn order-card__btn_info">
    <span class="order-card__btn-icon order-card__btn-icon_info"></span>
    <span class="order-card__btn-caption order-card__btn-caption_wait">Поясните задание</span>
</button>