<div class="contacts-bar {{addClass}}">
    <a href="skype:aasdasd.user.zaochnik.com?call" class="link contacts-bar__link">
        <span class="link__icon link__icon_skype contacts-bar__icon"></span>
        aasdasd.user.zaochnik.com
    </a>

    <a href="tg://resolve?domain=<aasdasd.user.zaochnik.com>" class="link contacts-bar__link">
        <span class="link__icon link__icon_telegram contacts-bar__icon"></span>
        aasdasd.user.zaochnik.com
    </a>

    <a href="tel:88003338544170" class="link contacts-bar__link">
        <span class="link__icon link__icon_phone contacts-bar__icon"></span>
        8-800-333-85-44-170
    </a>
</div>