<div id="jq-dropdown-3" class="dropdown dropdown_user js-dropdown-user">
    <div class="dropdown-menu dropdown__inner">
        <nav class="dropdown__nav">
            <ul class="dropdown__user-menu">
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_folder dropdown__icon"></span>
                        Мои заказы <span class="pill-label dropdown__pill-label">35</span></a>
                    </a>
                </li>
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_card dropdown__icon"></span>
                        Баланс <span class="dropdown__balance">200P</span></a>
                </li>
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_gear dropdown__icon"></span>
                        Настройки</a>
                </li>
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_gift dropdown__icon"></span>
                        Приведи друга</a>
                </li>
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_book dropdown__icon"></span>
                        Шпаргалки</a>
                </li>
                <li class="dropdown__menu-item">
                    <a href="#" class="link dropdown__link">
                        <span class="link__icon link__icon_exit dropdown__icon"></span>
                        Выход</a>
                </li>
            </ul>
        </nav>
    </div>
</div>