<div id="jq-dropdown-1" class="dropdown dropdown_notify js-dropdown-notify">
    <div class="container dropdown__inner dropdown-menu">
        <div class="dropdown__vertical-dots">
            {{!-- HEADER --}}
            <div class="row fx fx-align-center fx-justify-between dropdown__head-container dropdown__head-container_notify">
                <div class="col fx fx-align-center fx-justify-between">
                    <h2 class="dropdown__head-caption">Уведомления</h2>
                    <a href="#" class="link dropdown__icon">
                        <span class="link__icon link__icon_gear"></span>
                    </a>
                </div>
            </div>
            {{!-- MSGs --}}
            <div class="day-container">
                <div class="dropdown__date">02-03-2017</div>
                <div class="row dropdown__msg-container dropdown__msg-container_notify">
                    <div class="col">
                        <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_error">
                            Статус заказа <a href="#" class="text_accent">№1020073</a> изменен на Выполнение работы
                        </div>
                    </div>
                </div>
                <div class="row dropdown__msg-container dropdown__msg-container_notify">
                    <div class="col">
                        <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_primary">
                            В Вашем заказе <a href="#" class="text_accent">№1020073</a> не прикреплен файл. Пожалуйста добавьте его.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

