<div id="jq-dropdown-2" class="dropdown dropdown_msg js-dropdown-messages">
    <div class="container dropdown__inner dropdown-menu">
        <div class="row fx fx-align-center fx-justify-between dropdown__head-container">
            <div class="col fx fx-align-center fx-justify-between">
                <h2 class="dropdown__head-caption">Сообщения</h2>
                <a href="#" class="link dropdown__icon">
                    <span class="link__icon link__icon_gear"></span>
                </a>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container_new">
            <div class="col">
                <div class="fx fx-align-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                    <div class="dropdown__status">Новое</div>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-align-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-align-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
        <div class="row dropdown__msg-container dropdown__msg-container">
            <div class="col">
                <div class="fx fx-align-center fx-justify-between dropdown__theme">
                    <span>По заказу <a href="#" class="text_accent">№1020073</a></span>
                </div>
                <div class="dropdown__msg-text">Если у вас есть файлы задания, пожалуйста, прикрепите их для точной
                    оценки стоимости вашей работы
                </div>
            </div>
        </div>
    </div>
</div>

