<div id="jq-dropdown-1" class="dropdown dropdown_notify js-dropdown-notify">
    <div class="dropdown__inner">
        <div class="dropdown__dots">
            {{!-- HEADER --}}
            <div class="dropdown__header dropdown__header_notify">
                <div class="dropdown__title">Уведомления</div>
                <a href="#" class="link dropdown__icon">
                    <span class="link__icon link__icon_gear"></span>
                </a>
            </div>
            {{!-- NOTIFICATIONS --}}
            <div class="day-container dropdown__day-container">
                <div class="dropdown__date">02-03-2017</div>
                <div class="dropdown__msg dropdown__msg_notify">
                    <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_error">
                        Статус заказа <a href="#" class="text text_primary">№1020073</a> изменен на Выполнение работы
                    </div>
                </div>
                <div class="dropdown__msg dropdown__msg_notify">
                    <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_primary">
                        В Вашем заказе <a href="#" class="text text_primary">№1020073</a> не прикреплен файл. Пожалуйста
                        добавьте его.
                    </div>
                </div>
            </div>
            <div class="day-container dropdown__day-container">
                <div class="dropdown__date">02-03-2017</div>
                <div class="dropdown__msg dropdown__msg_notify">
                    <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_error">
                        Статус заказа <a href="#" class="text text_primary">№1020073</a> изменен на Выполнение работы
                    </div>
                </div>
                <div class="dropdown__msg dropdown__msg_notify">
                    <div class="dropdown__msg-text dropdown__msg-text_notify dropdown__msg-text_notify_primary">
                        В Вашем заказе <a href="#" class="text text_primary">№1020073</a> не прикреплен файл. Пожалуйста
                        добавьте его.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

