<div class="file-list">
    <ul class="file-list__list">
        <li class="file-list__item">
            <a href="#" class="file-list__file-name">Оплата.docx</a>
            <span class="file-list__date">03.06.2016</span>
            <button class="btn file-list__btn">&times;</button>
        </li>
    </ul>
</div>