{{!-- BLOCK WITH BOOKTOWER --}}
<div class="info-card info-card_booktower info-card_primary">
    <span class="info-card__img"></span>
    <p class="title title_minor info-card__title">Твой друг заказывает диплом</p>
    <p class="info-card__content">
        и получает <b class="text text_primary info-card__price">
        2000 P</b> на счёт. Ты тоже получаешь <b class="text text_primary info-card__price">
        2000 P</b> на счёт
    </p>
    <a href="" class="link link_underlined info-card__link">Начать зарабатывать</a>
</div>

{{!-- BLOCK WITH HAT --}}
<div class="info-card info-card_hat info-card_secondary">
    <span class="info-card__img"></span>
    <p class="title title_minor info-card__title">Твой друг заказывает диплом</p>
    <p class="info-card__content">
        и получает <b class="text text_secondary info-card__price">
        2000 P</b> на счёт. Ты тоже получаешь <b class="text text_secondary info-card__price">
        2000 P</b> на счёт
    </p>
    <a href="" class="link link_underlined info-card__link">Начать зарабатывать</a>
</div>