<div class="info-card">
    <div class="info-card__picture"></div>
    <h3 class="title title_minor">Твой друг заказывает диплом</h3>
    <p class="info-card__content">
        и получает <b class="text text_primary">1000Р</b> на счёт. Ты тоже получаешь <b class="text text_primary">1000Р</b> на счёт
    </p>
    <a href="" class="link link_underlined info-card__link">Начать зарабатывать</a>
</div>


