{{!-- BLOCK WITH BOOKTOWER --}}
<div class="info-card">
    <div class="info-card__inner info-card__inner_books">
        <span class="info-card__img info-card__img_books"></span>
        <p class="title title_minor info-card__title">Твой друг заказывает диплом</p>
        <p class="info-card__content">
            и получает <b class="text text_primary info-card__price">
            2000 P</b> на счёт. Ты тоже получаешь <b class="text text_primary info-card__price">
            2000 P</b> на счёт
        </p>
        <a href="" class="link link_underlined info-card__link">Начать зарабатывать</a>
    </div>
</div>

{{!-- BLOCK WITH HAT --}}
<div class="info-card">
    <div class="info-card__inner">
        <span class="info-card__img info-card__img_hat"></span>
        <p class="title title_minor info-card__title">Твой друг заказывает диплом</p>
        <p class="info-card__content">
            и получает <b class="text text_secondary info-card__price">
            2000 P</b> на счёт. Ты тоже получаешь <b class="text text_secondary info-card__price">
            2000 P</b> на счёт
        </p>
        <a href="" class="link link_underlined info-card__link">Начать зарабатывать</a>
    </div>
</div>