<div class="container">
    <nav class="row navigation">
        <ul class="col-8 col-md-12 fx fx-justify-between navigation__list">
            <li><a href="/orders" class="navigation__link navigation__link_active">Все <span
                class="navigation__count"></span></a></li>
            <li><a href="/orders" class="navigation__link">Новые <span class="navigation__count">(1)</span></a></li>
            <li><a href="/orders" class="navigation__link">В работе <span class="navigation__count">(2)</span></a></li>
            <li><a href="/orders" class="navigation__link">Завершенные <span class="navigation__count">(3)</span></a>
            </li>
        </ul>
    </nav>
</div>
