<div class="tabs">
    <nav class="tabs__row">
        <ul class="tabs__list">
            <li><a href="/my-orders" class="tabs__link tabs__link_active">Все <span class="tabs__count"></span></a></li>
            <li><a href="/my-orders" class="tabs__link">Новые <span class="tabs__count">(1)</span></a></li>
            <li><a href="/my-orders" class="tabs__link">В работе <span class="tabs__count">(2)</span></a></li>
            <li><a href="/my-orders" class="tabs__link">Завершенные <span class="tabs__count">(3)</span></a></li>
        </ul>
    </nav>
</div>
