<div class="navigation container">
    <nav class="row">
        <ul class="col-12 col-md-6 fx fx-justify-between navigation__list">
            <li><a href="/my-orders" class="navigation__link navigation__link_active">Все <span
                class="navigation__count"></span></a></li>
            <li><a href="/my-orders" class="navigation__link">Новые <span class="navigation__count">(1)</span></a></li>
            <li><a href="/my-orders" class="navigation__link">В работе <span class="navigation__count">(2)</span></a></li>
            <li><a href="/my-orders" class="navigation__link">Завершенные <span class="navigation__count">(3)</span></a>
            </li>
        </ul>
    </nav>
</div>
