<div class="news" data-template="news">
    <div class="news__header">
        <div class="news__title">Новости</div>
        <a href="/news" class="link news__read-all">Читать все</a>
    </div>
    <div class="news__body">
        <a href="#" class="news__card">
            <div class="news__head">
                <span class="news__data">12.09.2017</span>
                <span class="news__type"></span>
            </div>
            <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur
                deleniti ea est illo molestiae odio quisquam ullam ut voluptatem! Ad commodi debitis neque odio porro
                quasi sunt voluptatem voluptates. Commodi cum enim nam qui saepe veritatis voluptas. Ad animi asperiores
                consequatur dicta doloribus eveniet explicabo fuga id in inventore ipsa ipsam iure magni maiores minus
                nam nulla obcaecati, placeat provident quam quas quisquam rem reprehenderit rerum soluta vitae,
                voluptates?
            </div>
            <div class="news__go">
                <span class="news__go-caption">перейти</span>
                <span class="news__go-point"></span>
            </div>
        </a>
        <a href="#" class="news__card">
            <div class="news__head">
                <span class="news__data">12.09.2017</span>
                <span class="news__type">Важное</span>
            </div>
            <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem est
                exercitationem laboriosam minima minus obcaecati quae quibusdam! Assumenda, dolorum enim nam nulla optio
                provident quidem tempora. Asperiores ex illo laudantium minima minus molestiae officiis, provident, quae
                reprehenderit tempora voluptate voluptatum. Accusantium amet cumque debitis dolor, dolore eaque fuga in
                iste iusto laborum natus nihil odio pariatur possimus rem repellat saepe sed sequi, suscipit voluptatum.
                A assumenda aut eligendi enim et facilis fugit, iste obcaecati omnis ullam. Aperiam deleniti eaque
                facere ipsum non omnis reprehenderit velit? Accusamus adipisci alias atque consequatur deleniti ea ex
                fuga, fugiat harum, hic illo ipsum iusto laboriosam magnam mollitia neque non numquam praesentium
                provident recusandae rerum sint suscipit tempora ullam voluptatem?
            </div>
            <div class="news__go">
                <span class="news__go-caption">перейти</span>
                <span class="news__go-point"></span>
            </div>
        </a>
        <a href="#" class="news__card">
            <div class="news__head">
                <span class="news__data">12.09.2017</span>
                <span class="news__type">Новое</span>
            </div>
            <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, impedit molestias. A
                accusantium adipisci aliquam aspernatur assumenda aut delectus deserunt dolor error esse facilis ipsum
                nobis, optio repellendus, sed voluptas!
            </div>
            <div class="news__go">
                <span class="news__go-caption">перейти</span>
                <span class="news__go-point"></span>
            </div>
        </a>
    </div>
</div>