<div class="news fx fx-col fx-md-row">
    <a href="#" class="news__card">
        <div class="fx fx-justify-between news__head">
            <span class="news__data">12.09.2017</span>
            <span class="news__type">Новое</span>
        </div>
        <div class="news__text">Да прибудет с Вами сила! С 18 октября по 6 ноября мы разыгрываем 100 ...</div>
        <div class="fx fx-justify-between news__go">
            <span class="news__go-caption">перейти</span>
            <span class="news__go-point"></span>
        </div>
    </a>
    <a href="#" class="news__card">
        <div class="fx fx-justify-between news__head">
            <span class="news__data">12.09.2017</span>
            <span class="news__type">Новое</span>
        </div>
        <div class="news__text">Да прибудет с Вами сила! С 18 октября по 6 ноября мы разыгрываем 100 ...</div>
        <div class="fx fx-justify-between news__go">
            <span class="news__go-caption">перейти</span>
            <span class="news__go-point"></span>
        </div>
    </a>
    <a href="#" class="news__card">
        <div class="fx fx-justify-between news__head">
            <span class="news__data">12.09.2017</span>
            <span class="news__type">Новое</span>
        </div>
        <div class="news__text">Да прибудет с Вами сила! С 18 октября по 6 ноября мы разыгрываем 100 ...</div>
        <div class="fx fx-justify-between news__go">
            <span class="news__go-caption">перейти</span>
            <span class="news__go-point"></span>
        </div>
    </a>
</div>