
{{!-- TEMPLATE ОПЛАТИТЕ ГОТОВУЮ РАБОТУ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-9 col-xl-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-4 order-detail__second-panel">
            <div class="row">
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Цена<span class="widget-price__price-old">20 000 Р</span></h2>
                        <h2 class="widget-price__value widget-price__value_price">19 332 Р</h2>
                    </div>
                </div>
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Предоплата 25%</h2>
                        <h2 class="widget-price__value widget-price__value_prepay">803 Р</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar type="prepay" icon="card" caption="Ожидаем предоплаты (25%)"}}
                </div>
                <div class="col-lg-auto">
                    <a href="/order123" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row fx-center">
                <div class="col-auto fx-order-1 fx-md-order-2">
                    <a href="/order123/files" class="btn btn_std btn_secondary">Внести предоплату</a>
                </div>
                <div class="col-auto fx-order-2 fx-md-order-1">
                    <span class="order-detail__price-total">Сумма к оплате: 1 803 Р</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ОЦЕНИВАЕМ СТОИМОСТЬ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-detail__second-panel">
            <button class="btn btn_rect fx fx-center order-detail__btn order-detail__btn_wait">
                <span class="order-detail__btn-icon">{{> spinner }}</span>
                <span class="order-detail__btn-caption order-detail__btn-caption_wait">Оцениваем стоимость</span>
            </button>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar type="wait" icon="clock" caption="Оценка работы"}}
                </div>
                <div class="col-lg-auto">
                    <a href="/order123" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="order-detail__small-caption">Оценка работы может занимать от&nbsp;5&nbsp;минут до&nbsp;1&nbsp;дня</div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ПОЯСНИТЕ ЗАДАНИЕ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-detail__second-panel">
            <button class="btn btn_rect fx fx-center order-detail__btn order-detail__btn_info">
                <span class="order-detail__btn-icon order-detail__btn-icon_info"></span>
                <span class="order-detail__btn-caption order-detail__btn-caption_wait">Поясните задание</span>
            </button>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar type="specify" icon="info" caption="Поясните задание"}}
                </div>
                <div class="col-lg-auto">
                    <a href="/order123" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="order-detail__small-caption">
                <a href="#" class="text_accent text_accent_underline">Добавьте описание</a>
                для наиболее точной оценки вашего заказа
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE РАБОТА ВЫПОЛНЯЕТСЯ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-9 col-xl-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-4 order-detail__second-panel">
            <div class="row no-gutters">
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Цена<span class="widget-price__price-old">20 000 Р</span></h2>
                        <h2 class="widget-price__value widget-price__value_price">19 332 Р</h2>
                    </div>
                </div>
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Срок готовности</h2>
                        <h2 class="widget-price__value widget-price__value_ready-date">15.05.2017</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar_filled type="wip" icon="pencil" caption="Выполнение работы"}}
                </div>
                <div class="col-lg-auto">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="order-detail__small-caption">
                <span>Ваша работа выполняется</span>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ОПЛАТИТЕ ГОТОВУЮ РАБОТУ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-9 col-xl-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-4 order-detail__second-panel">
            <div class="row">
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Цена<span class="widget-price__price-old">20 000 Р</span></h2>
                        <h2 class="widget-price__value widget-price__value_price">19 332 Р</h2>
                    </div>
                </div>
                <div class="col order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Доплатить</h2>
                        <h2 class="widget-price__value widget-price__value_need-to-pay">803 Р</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar_filled type="primary" icon="card" caption="Оплатите готовую работу"}}
                </div>
                <div class="col-lg-auto">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row fx-center">
                <div class="col-auto fx-order-1 fx-md-order-2">
                    <a href="/order123/files" class="btn btn_std btn_primary">Доплатить и скачать</a>
                </div>
                <div class="col-auto fx-order-2 fx-md-order-1">
                    <span class="order-detail__price-total">Сумма к оплате: 1 803 Р</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE РАБОТА ГОТОВА --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between order-detail__stage-1">
        <div class="col-md-9 col-xl-8 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-sm-3 fx fx-sm-col fx-justify-between fx-sm-start">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-sm-3">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-sm-6">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-4 order-detail__second-panel">
            <div class="row no-gutters">
                <div class="col-auto order-detail__data-info">
                    <div class="widget-price">
                        <h2 class="widget-price__header">Цена<span class="widget-price__price-old">20 000 Р</span></h2>
                        <h2 class="widget-price__value widget-price__value_price">19 332 Р</h2>
                    </div>
                </div>
                <div class="col-md-6 center order-detail__data-info">
                    <div class="widget-files">
                        <h2 class="widget-price__header">Файлы</h2>
                        <ul class="widget-files__list">
                            <li class="widget-files__item"><a href="#" class="widget-files__name">Дипломная работа.word</a></li>
                            <li class="widget-files__item"><a href="#" class="widget-files__name">Курсовая работа.word</a></li>
                            <li class="widget-files__item"><a href="#" class="widget-files__name">Научная работа.word</a></li>
                            <li class="widget-files__item"><a href="#" class="widget-files__name">Диссер работа.word</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx-align-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 fx fx-align-center">
                    {{> progress-bar_filled type="ready" icon="check" caption="Ваша работа готова"}}
                </div>
                <div class="col-lg-auto">
                    <a href="/order123" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col fx fx-end">
            <a href="/order123/files" class="btn btn_std btn_primary">Скачать архивом</a>
        </div>
    </div>
</div>