<div class="page-header">
    <div class="wrapper">
        <div class="page-header__top">
            <div class="breadcrumbs page-header__breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Главная</span></a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="/my-orders" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Мои заказы</span></a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span class="breadcrumbs__text">Заказ №100101010</span></a>
                    </li>
                </ul>
                <a href="#" class="go-back"></a>
            </div>
            {{> progress-bar_filled type="dark" icon="dot" caption="Ожидаем предоплату" addClass="page-header__progress"}}
        </div>
        <div class="page-header__body">
            <div class="order-info page-header__order-info">
                <div class="order-info__number">Заказ #{{ orderNumber }}</div>
                <div class="title title_primary order-info__title">{{ worktype }}</div>
                <div class="order-info__subject">По предмету: &laquo;{{ subject }}&raquo;</div>
            </div>
            <div class="widgets page-header__widgets">
                <div class="widget-price">
                    <div class="widget-price__header">Цена<span class="widget-price__price-old">20 000 Р</span></div>
                    <div class="widget-price__value widget-price__value_price">19 332 Р</div>
                    {{> button type="std" theme="transp" border="bright" caption="Оплатить полностью" addClass="widget-price__btn" }}
                </div>

                <div class="widget-price">
                    <div class="widget-price__header">Предоплата 25%</div>
                    <div class="widget-price__value widget-price__value_prepay">803 Р</div>
                    {{> button type="std" theme="secondary" caption="Внести предоплату" addClass="widget-price__btn" }}
                </div>
            </div>
            <div class="widget-countdown">
                <h3 class="widget-countdown__header">Работа будет готова</h3>
                <div class="widget-countdown__calendar">
                    <div class="widget-countdown__date">
                        <span class="widget-countdown__day">3</span>
                        <span class="widget-countdown__month">&nbsp;Сен</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs">
            <nav class="tabs__row">
                <ul class="tabs__list">
                    <li><a href="/order123" class="tabs__link">Сообщения</a></li>
                    <li><a href="/order123/details" class="tabs__link">Подробности</a></li>
                    <li><a href="/order123/files" class="tabs__link tabs__link_active">Файлы</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>
