<div class="page-header">
    <div class="wrapper">
        <div class="page-header__top">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Главная</span></a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span class="breadcrumbs__text">Приведи друга</span></a>
                    </li>
                </ul>
                <a href="#" class="go-back"></a>
            </div>
        </div>

        <div class="page-header__body page-header__body_friends">
            <h1 class="title title_primary page-header__title page-header__title_center">Помогай друьям и получай<br>работы бесплатно!</h1>

            {{> widget-promocode }}

        </div>
    </div>
</div>