<div class="share">

    <div class="share__controls">
        <div class="share__title">Поделиться</div>
        {{> social-links }}

        <span>SMS-кой на номер телефона:</span>
        <input type="text" class="phone">

        <a href="#" class="link link_underline text text_primary">Скопировать ссылку в буфер</a>
        <input type="text" class="link">
    </div>


</div>