<div class="share share_v2 {{addClass}}">
    <div class="share__title">Отправляй друзьям уникальную ссылку</div>
    <div class="share__input-container">
        <div class="text-field share__text-field">
            <input type="text"
                   class="text-field__input share__input"
                   placeholder=""
                   value="aspdojk1=042839581jd125l923415j18mcv,i"
                   name="" />
        </div>
    </div>
    <button class="btn btn_std btn_primary share__btn_primary">Скопировать</button>
    <div class="share__btn-group">
        <a href="#" class="btn share__btn">Отправить по <br>e-mail</a>
        <a href="#" class="btn share__btn">Отправить в <br>SMS</a>
    </div>
    {{> social-links addClass="share__social-links"}}
</div>