<div class="sidebar">
    <div class="fx fx-col sidebar__inner">
        <a class="link sidebar__link sidebar__link_active" href="#" >
            <span class="link__icon link__icon_home sidebar__icon"></span>
            Главная
        </a>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_folder sidebar__icon"></span>
            Мои заказы
        </a>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_card sidebar__icon"></span>
            Баланс
            <span class="sidebar__balance">200P</span>
        </a>
        <hr>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_speech sidebar__icon"></span>
            Отзывы
        </a>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_gear sidebar__icon"></span>
            Настройки
        </a>
        <hr>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_gift sidebar__icon"></span>
            Приведи друга
        </a>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_book sidebar__icon"></span>
            Шпаргалки
        </a>
        <hr>
        <a class="link sidebar__link" href="#" >
            <span class="link__icon link__icon_exit sidebar__icon"></span>
            Выход
        </a>
    </div>
</div>

