<div class="social-links {{addClass}}">
    <a href="#" class="link social-links__link"><span class="social-links__img social-links__img_vk"></span></a>
    <a href="#" class="link social-links__link"><span class="social-links__img social-links__img_fb"></span></a>
    <a href="#" class="link social-links__link"><span class="social-links__img social-links__img_youtube"></span></a>
    <a href="#" class="link social-links__link"><span class="social-links__img social-links__img_telegram"></span></a>
    <a href="#" class="link social-links__link social-links__link_instagram"><span class="social-links__img social-links__img_instagram"></span></a>
</div>