<div class="user-card {{addClass}}">

    <div class="user-card__profile">
        <div class="avatar user-card__avatar"></div>
        <div class="user-card__name-col">
            <div class="user-card__type">{{ userType }}</div>
            <div class="user-card__name">{{ user }}</div>
        </div>
    </div>

   {{> contacts-bar addClass="user-card__contacts-bar"}}

</div>