<div class="widget-promocode">
    <h3 class="widget-promocode__title">Делись своим промокодом</h3>
    <div class="promocode widget-promocode__code">222979</div>
    <button class="btn btn_std btn_bright widget-promocode__btn">Поделиться</button>
</div>