<div class="widget-files">
    <h2 class="widget-price__header">Файлы</h2>
    <ul class="widget-files__list">
        <li class="widget-files__item"><a href="#" class="widget-files__name">Дипломная работа.word</a></li>
        <li class="widget-files__item"><a href="#" class="widget-files__name">Курсовая работа.word</a></li>
        <li class="widget-files__item"><a href="#" class="widget-files__name">Научная работа.word</a></li>
        <li class="widget-files__item"><a href="#" class="widget-files__name">Диссер работа.word</a></li>
    </ul>
</div>
