<div class="widget-countdown">
    <h3 class="widget-countdown__header">Работа будет готова</h3>
    <div class="widget-countdown__calendar">
        <div class="widget-countdown__date">
            <span class="widget-countdown__day">3</span>
            <span class="widget-countdown__month">&nbsp;Сен</span>
        </div>
    </div>
</div>

{{!--

TEMPONARY

<div class="widget widget_countdown">
    <h3 class="widget__header">Работа будет готова</h3>
    <div class="widget__calendar">
        <div class="widget__date">
            <span class="widget__day">13</span>
            <span class="widget__month">&nbsp;дек</span>
        </div>
    </div>
</div>

--}}
