{{!-- ПРИГЛАСИТЬ ДРУГА --}}

<div class="widget-notify container fx fx-justify-between fx-align-center" data-template="invite-friends">
    <div class="row widget-notify__content-row">
        <div class="col-12 col-md-7 fx fx-align-center widget-notify__content-col">
            <div class=" widget-notify__content-block">
                <h3 class="widget-notify__head">По <span class="text text_primary">2 бесплатной</span> курсовой вам и друзьям</h3>
                <div class="widget-notify__content">Зовите к нам друзей! Дарим по 2 курсовой вам и другу после первой оплаты
                    работы
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 fx fx-align-center widget-notify__content-col">
            <div class="fx fx-nowrap fx-justify-between fx-align-center fx-sm-center widget-notify__controls-block widget-notify__controls-block_img">
                <div class="widget-notify__img"></div>
                <a href="/addfriend" class="btn btn_bright btn_std widget-notify__btn center">Пригласить друга</a>
                {{> button type="round" theme="bright" icon="close" addClass="widget-notify__btn-close" }}
            </div>
        </div>
    </div>
</div>

{{!-- ПРИВЕТСТВИЕ --}}

<div class="widget-notify container fx fx-justify-between fx-align-center" data-template="hello-user">
    <div class="widget-notify__content-block">
        <h2 class="widget-notify__head">Виталий, добрый вечер!</h2>
        <div class="widget-notify__content">Пятничная музыкальная подборка от Zaochnik. И пусть выходные пройдут
            отлично!
        </div>
    </div>
    {{> button type="round" theme="bright" icon="close" addClass="widget-notify__btn-close" }}
</div>

{{!-- НЕТ ЗАКАЗОВ --}}

<div class="widget-notify widget-notify_no-padding container fx fx-justify-between fx-align-stretch" data-template="new-order-notify">
    <div class="row widget-notify__content-row">
        <div class="col-12 col-md-7 fx fx-align-center widget-notify__content-col">
            <div class=" widget-notify__content-block">
                <div class="widget-notify__content">В данный момент активных заказов нет.</div>
            </div>
        </div>
        <div class="col-12 col-md-5 fx fx-align-center widget-notify__content-col">
            <div class="fx fx-nowrap fx-justify-between fx-align-center fx-sm-center widget-notify__controls-block widget-notify__controls-block_img">
                <div class="center widget-notify__controls-caption">Оформить новый заказ</div>
                {{> button type="round" theme="primary" icon="plus" addClass="widget-notify__btn-close" }}
            </div>
        </div>
    </div>
</div>

{{!-- OLD VERSION --}}
{{!-- ПРИГЛАСИТЬ ДРУГА --}}

<div class="widget-notify container fx fx-justify-between fx-align-center" data-template="invite-friends">
    <div class="row widget-notify__content-row">
        <div class="col-12 col-md-7 fx fx-align-center widget-notify__content-col">
            <div class=" widget-notify__content-block">
                <h3 class="widget-notify__head">По <span class="text text_primary">2 бесплатной</span> курсовой вам и друзьям</h3>
                <div class="widget-notify__content">Зовите к нам друзей! Дарим по 2 курсовой вам и другу после первой оплаты
                    работы
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 fx fx-align-center widget-notify__content-col">
            <div class="fx fx-nowrap fx-justify-between fx-align-center fx-sm-center widget-notify__controls-block widget-notify__controls-block_img">
                <div class="widget-notify__img"></div>
                <a href="/addfriend" class="btn btn_bright btn_std widget-notify__btn center">Пригласить друга</a>
                {{> button type="round" theme="bright" icon="close" addClass="widget-notify__btn-close" }}
            </div>
        </div>
    </div>
</div>

{{!-- ПРИВЕТСТВИЕ --}}

<div class="widget-notify container fx fx-justify-between fx-align-center" data-template="hello-user">
    <div class="widget-notify__content-block">
        <h2 class="widget-notify__head">Виталий, добрый вечер!</h2>
        <div class="widget-notify__content">Пятничная музыкальная подборка от Zaochnik. И пусть выходные пройдут
            отлично!
        </div>
    </div>
    {{> button type="round" theme="bright" icon="close" addClass="widget-notify__btn-close" }}
</div>

{{!-- НЕТ ЗАКАЗОВ --}}

<div class="widget-notify widget-notify_no-padding container fx fx-justify-between fx-align-stretch" data-template="new-order-notify">
    <div class="row widget-notify__content-row">
        <div class="col-12 col-md-7 fx fx-align-center widget-notify__content-col">
            <div class=" widget-notify__content-block">
                <div class="widget-notify__content">В данный момент активных заказов нет.</div>
            </div>
        </div>
        <div class="col-12 col-md-5 fx fx-align-center widget-notify__content-col">
            <div class="fx fx-nowrap fx-justify-between fx-align-center fx-sm-center widget-notify__controls-block widget-notify__controls-block_img">
                <div class="center widget-notify__controls-caption">Оформить новый заказ</div>
                {{> button type="round" theme="primary" icon="plus" addClass="widget-notify__btn-close" }}
            </div>
        </div>
    </div>
</div>
