{{!-- FRIENDS BLOCK --}}
<div class="widget-achievements widget-achievements_friends">
    <div class="title widget-achievements__title">Друзей зарегистрировалось:</div>
    <div class="widget-achievements__info-row">
        <div class="widget-achievements__counter">4</div>
        <ul class="friends widget-achievements__friends">
            <li class="friends__item friends__item_1"></li>
            <li class="friends__item friends__item_2"></li>
            <li class="friends__item friends__item_3"></li>
            <li class="friends__item friends__item_4"></li>
        </ul>
        <button class="btn btn_std btn_bright btn_round btn_plus widget-achievements__btn"></button>
    </div>
</div>

{{!-- PROFIT BLOCK --}}
<div class="widget-achievements widget-achievements_profit">
    <div class="title widget-achievements__title">Заработано:</div>
    <div class="widget-achievements__counter">1300&nbsp;<span class="widget-achievements__currency">Р</span></div>
</div>



