<div class="page-header page-header_cribs">
    <div class="wrapper">
        <div class="page-header__top">

            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Главная</span></a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span class="breadcrumbs__text">Шпаргалки</span></a>
                    </li>
                </ul>
                <a href="#" class="go-back"></a>
            </div>

        </div>

            <div class="title title_primary page-header__title page-header__title_center">Найти шпаргалку легко!</div>

    </div>
</div>