.page-header {
    position: relative;
    background-image: linear-gradient(to right, rgb(12, 15, 41), rgb(43, 58, 99) 50%, rgb(12, 15, 41));
    color: rgba(255, 255, 255, 0.87);
    overflow: hidden;
    padding-top: 20px;

    &__avatar {
        size: 84px;
        flex-basis: 84px;
        background-image: url("./manager-ava.png");
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (--mobile) {
            margin-top: 7px;
            margin-bottom: 10px;
        }
    }
    
    &__title {
        text-align: left;
        color: rgba(254, 254, 254, 0.7);

        &_center {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__top {
        display: flex;
        padding-bottom: 25px;

        @media (--tablet) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (--mobile) {
            padding-bottom: 10px;
            flex-direction: row;
            align-items: center;
        }
    }

    &__breadcrumbs {
        flex: 0;
        flex-basis: 40%;

        @media (--tablet) {
            flex-basis: 100%;
        }

        @media (--mobile) {
            flex-basis: auto;
        }
    }

    &__progress {
        flex: 0;
        flex-basis: 36%;

        @media (--tablet) {
            width: 50%;
        }

        @media (--mobile) {
            flex-basis: auto;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-flow: row wrap;

        &_empty {
            margin-bottom: 40px;
            align-items: center;
            justify-content: space-between;

            @media (--mobile) {
                margin-top: 20px;
            }
        }

        &_friends {
            margin: 0 auto;
            flex-direction: column;
            max-width: 1040px;
            padding-bottom: 75px;

            &:before, &:after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
                pointer-events: none;

                @media (--mobile) {
                    display: none;
                }
            }

            &:before {
                size: 145px 239px;
                left: 0;
                background-image: url("./man-2.png");

                @media (--tablet) {
                    size: 160px 200px;
                }
            }

            &:after {
                size: 228px 302px;
                right: 0;
                background-image: url("./man-1.png");

                @media (--tablet) {
                    size: 160px 200px;
                }
            }
        }
    }

    &__order-info {
        display: flex;
        flex-direction: column;
        flex: 0;
        flex-basis: 40%;

        @media (--tablet) {
            flex-basis: 100%;
            margin-bottom: 20px;
        }
    }

    &__profile-edit {
        display: inline-block;
        font-size: 14px;
        color: rgba(254, 254, 254, 0.3);

        @media (--mobile) {
            display: none;
        }

        &:hover {
            color: rgba(254, 254, 254, 0.8);
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            size: 14px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: svg-load("../../../svg/iconmonstr-pencil.svg", fill=rgba(254, 254, 254, 0.3));
            transition: $transition-delay;
        }
    }

    &__profile-edit:hover {

        &:after {
            background-image: svg-load("../../../svg/iconmonstr-pencil.svg", fill=rgba(254, 254, 254, 0.8));
        }
    }

    &__btn {

        &:hover {
            color: $primary;
            box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
        }

        &:active {
            color: $primary-hov;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        }

        &_find {
            padding-left: 25px;
            padding-right: 25px;

            @media (--mobile) {
                display: none;
            }
        }
    }


    &__icon_find {
        display: none;

        @media (--mobile) {
            display: inline-block;
        }
    }

    &__btn-edit {
        display: none;
        position: absolute;
        right: 15px;
        top: 25px;
        size: 48px;

        @media (--mobile) {
            display: block;
            right: 0;
        }

        &_icon {
            display: inline-block;
            top: center;
            left: center;
            background-position: center;
            background-size: 14px;
            background-repeat: no-repeat;
            background-image: svg-load("../../../svg/iconmonstr-pencil.svg", fill=#1e284b);
        }
    }

    &__btn-edit:hover &__btn-edit_icon{
        background-image: svg-load("../../../svg/iconmonstr-pencil.svg", fill=$primary);
    }

    &__cash-row {
        display: flex;

        @media (--tablet) {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__widget-bonus {
        margin-right: 60px;

        @media (--desktop) {
            margin-right: 30px;
        }

        @media (--tablet) {
            margin-bottom: 10px;
        }
    }

    & .progress-bar {

        @media (--mobile) {
            min-width: auto;
            width: 100%;
            margin-bottom: 0;
        }

        &__container {
            background-color: rgba(0, 0, 0, 0.15);
        }

        &__caption_on-fill {
            font-size: 11px;
        }
    }

    & .navigation {

        @media (--desktop) {
            margin-top: 10px;
        }
    }

    &__widgets {
        margin: 0 -15px;

        @media (--mobile) {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            padding-top: 15px;
            padding-bottom: 10px;
            margin: 0 -5px;
            flex: 1;
        }
    }

    & .widget-price {
        padding: 0 15px;

        @media (--mobile) {
           padding: 0 5px;
            flex: 1;
        }

        &__value_price {
             color: hsla(0, 0%, 100%, .87);
        }

        &__header {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 15px;

            @media (--tablet) {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }

    & .widget-countdown {
        margin-left: auto;

        @media (--desktop-extra) {
            margin-right: 30px;
        }

        @media (--mobile) {
            display: none;
        }
    }
}

.order-info {

    &__title {
        text-align: left;
        color: rgba(255, 255, 255, 0.87);
        margin-top: 8px;
        margin-bottom: 10px;

        @media (--mobile) {
            margin-top: 0;
        }
    }

    &__number {
        font-size: 14px;
        color: rgba(254, 254, 254, 0.5);
    }

    &__subject {
        color: rgba(255, 255, 255, 0.3);
        font-size: 13px;
        line-height: normal;
        font-weight: 300;
    }
}