.order-detail {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;

    @media (--tablet) {
        margin-top: 30px;
    }

    &__stage-1, &__stage-2 {

        @media (--desktop-large) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__stage-1 {
        padding-top: 27px;
        padding-bottom: 20px;

        @media (--mobile) {
            padding-top: 17px;
        }
    }

    &__stage-2 {
        padding-top: 15px;
        padding-bottom: 15px;

        @media (--mobile) {
            padding-top: 0;
            padding-bottom: 17px;
            text-align: center;
        }

        &_border {
            border-top: dashed 1px rgb(0, 0, 0, 0.15);

            @media (--tablet) {
                border: none;
            }
        }
    }

    &__info-panel {
        padding-right: 30px;

        @media (--mobile) {
        }

        & .order-detail__header {

            @media (--mobile) {
                display: none;
            }
        }
    }

    &__second-panel {

        @media (--tablet) {
            padding-top: 20px;
            text-align: center;
            border-top: dashed 1px rgb(0, 0, 0, 0.15);
        }

        @media (--mobile) {
            text-align: left;
        }
    }

    &__data-info {

        @media (--mobile) {
            line-height: normal;
        }

        & + & {

            @media (--mobile) {
                padding-left: 20px;
            }
        }
    }

    &__header {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.87);
        white-space: nowrap;

        @media (--tablet) {
            margin: 0;
        }
    }

    &__order-number {
        display: inline-block;
        margin-top: 5px;
        font-size: 19px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.87);

        @media (--tablet) {
            margin-top: 0;
            margin-bottom: 8px;
        }
    }

    &__data-in {
        line-height: 21px;
        font-size: 13px;
        color: rgba(119, 119, 119, 0.54);

        @media (--mobile) {
            display: inline-block;
        }
    }

    &__deadline {
        font-size: 12px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.54);

        @media (--mobile) {
            display: none;
        }
    }


    &__description {
        position: relative;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;

        @media (--tablet) {
            margin-bottom: 10px;
            line-height: 22px;
        }
    }

    &__message {
        display: inline-block;
        line-height: 20px;
        font-size: 14px;
        font-weight: 600;
        color: rgb(186, 186, 186);

        @media (--mobile) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__message-count {
        display: inline-block;
        size: 20px;
        background-color: $primary;
        border-radius: 50%;
        color: $white;
        font-size: 13px;
        text-align: center;

        & span {
            line-height: 20px;
        }
    }

    &__job, &__job-type {
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
    }

    &__price-col {
        padding-right: 20px;
    }

    &__files-col {
        padding: 0;
    }

    &__price {
        display: inline-block;
        position: relative;
        font-size: 34.5px;
        font-weight: normal;
        line-height: 24px;
        margin: 10px 0 20px 17px;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.87);

        @media (--tablet) {
            font-size: 22px;
            margin-bottom: 0;
            margin-top: 0;
        }

        &:before {
            content: "";
            display: block;
            size: 9px;
            left: -23px;
            top: center;
            border-radius: 50%;
            background-color: $primary;

            @media (--tablet) {
                left: -16px;
            }
        }

        &_prepay {
            color: $secondary;

            &:before {
                background-color: $secondary;
            }
        }

        &_ready-date {
            color: rgba(0, 0, 0, 0.54);

            &:before {
                background-color: rgba(0, 0, 0, 0.54);
            }
        }

        &_need-to-pay {
            color: $primary;

            &:before {
                background-color: $primary;
            }
        }
    }

    &__price-total {
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);

        @media (--mobile) {
            margin-top: 15px;
        }
    }

    &__price-old {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
        text-decoration: line-through;
    }

    &__btn {
        font-size: 22px;
        max-width: 360px;
        height: 100%;

        @media  (--tablet) {
            font-size: 18px;
            margin: auto;
        }

        &:hover {
            box-shadow: $gray-shadow-hov;
            color: $white;
        }

        &_wait {
            background-color: #e8ebee;
            color: rgba(69, 93, 121, 0.7);

            &:hover {
                background-color: rgba(69, 93, 121, 0.8);
            }

            &:hover .spinner div {
                background: $white;
            }

            &:active {
                background-color: rgba(69, 93, 121, 0.5);
                color: $white;
            }
        }

        &_info {
            background-color: rgb(238, 232, 232);
            color: $secondary;

            &:hover {
                background-color: $secondary;
            }
        }
    }

    &__btn-icon {
        margin-right: 15px;

        @media  (--desktop) {

        }

        &_info {
            size: 30px;
            background-size: 30px;
            background: svg-load("./iconmonstr-info.svg", fill=$error) no-repeat center;
        }
    }

    &__btn-caption {
        margin: 5px;
    }

    &__small-caption {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: rgb(168, 168, 168);
        margin: auto;
    }
}

/* MOVE TO PARTIAL */

.file-list {
    text-align:left;
    display: inline-block;
    max-height: 90px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    padding-right: 10px;

    &__item {
        line-height: 27px;
    }

    &__name {
        position: relative;
        color: $primary;
        padding-left: 30px;
        font-size: 13px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: center;
            left: 0;
            size: 17px;
            background-size: 17px;
            background-image: svg-load("./iconmonstr-download.svg", fill=$primary);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 3px;
    background-color: rgb(33, 166, 208, 0.3);

    &:hover {
        background-color: $primary-hov;
    }
}