.logo {
    display: inline-block;
    size: 216px 44px;
    background-size: 216px 44px;
    background-repeat: no-repeat;

    @media (--mobile) {
        size: 200px 40px;
        background-size: 200px 40px;
    }

    &_com {
        background-image: svg-load("./logo.svg", fill=#464646);
    }

    &_com&_invert {
        background-image: svg-load("./logo.svg", fill=$white);
    }

    &_ru {
        background-image: svg-load("./logo-ru.svg", fill=#464646);
    }

    &_ru&_invert {
        background-image: svg-load("./logo-ru.svg", fill=$white);
    }
}