.table {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);

    @media (--mobile) {
        border: none;
        box-shadow: none;
    }

    &__body {

        @media (--mobile) {
            width: 100%;
        }
    }

    &__head {
        text-align: left;

        @media (--tablet) {
            font-size: 14px;
        }

        @media (--mobile) {
            display: none;
        }
    }

    &__head:last-child {
        text-align: right;
    }

    &__data, &__head {
        padding: 22px 20px;

        @media (--tablet) {
            padding: 15px 10px;
        }
    }

    &__data:first-child, &__head:first-child {
        padding-left: 25px;
        padding-right: 0;

        @media (--tablet) {
            padding-left: 10px;
        }

        @media (--mobile) {
            padding-left: 0;
        }
    }

    &__data:last-child, &__head:last-child {
        padding-right: 30px;

        @media (--tablet) {
            padding-right: 10px;
        }

        @media (--mobile) {
            padding-right: inherit;
        }
    }

    &__inner {
        color: $black;
        width: 100%;
        border-collapse: collapse;

        @media (--mobile) {
            display: flex;
        }
    }

    &__row {
        border-bottom: solid 1px rgb(220, 220, 220);

        @media (--mobile) {
            display: flex;
            align-items: flex-start;
            position: relative;
            flex-direction: column;
            border: solid 1px rgb(220, 220, 220);
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px 15px;
        }

        &_head {
            background-color: rgb(249, 249, 249);
            color: $black;

            @media (--mobile) {
                display: none;
            }
        }
    }


    &__row:last-child {
        border-bottom: none;

        @media (--mobile) {
            border-bottom: solid 1px rgb(220, 220, 220);
        }
    }

    &__data {
        font-size: 14px;

        @media (--mobile) {
            padding: 0;
            display: inline-block;
        }

        &_date {

            @media (--mobile) {
                line-height: normal;
                margin-top: 5px;
            }
        }

        &_price-history {
            font-weight: 600;
            font-size: 16px;
            text-align: right;

            @media (--mobile) {
                position: absolute;
                top: 0;
                right: 0;
                padding-top: inherit;
                padding-right: inherit;
            }
        }

        &_checkbox {

            @media (--mobile) {
                position: absolute;
                top: 0;
                right: 0;
                padding-top: inherit;
                padding-right: inherit;
            }
        }

        &_icon {
            text-align: center;

            @media (--mobile) {
                text-align: left;
                padding: 0;
            }
        }

        &_number {

            @media (--mobile) {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: inherit;
            }
        }

        &_work {

            @media (--mobile) {
                margin-bottom: 33px;
            }
        }

        &_subject {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
        }

        &_status {

            @media (--mobile) {
                position: absolute;
                bottom: 0;
                right: 0;
                padding-right: inherit;
                padding-bottom: inherit;
            }
        }

        &_date {
            color: rgba(0, 0, 0, 0.54);
        }
    }

    &__price-old {
        font-size: 13px;
        margin-left: 10px;
        text-decoration:line-through;
        color: rgba(0, 0, 0, 0.38);

        @media (--mobile) {
            font-size: 14px;
        }
    }

    &__icon {
        display: inline-block;
        size: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* primary (in) */
.table__row_in {

    .table {

        &__data {

            &_price-history {
                color: $primary;
            }

            &_date {

                @media (--mobile) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: inherit;
                }
            }
        }

        &__icon {
            background-image: svg-load("../../../svg/iconmonstr-arrow.svg", fill=$primary);
        }
    }
}

/* secondary (pay) */
.table__row_pay {

    .table {

        &__data {

            &_price-history {
                color: $secondary;
            }
        }

        &__icon {
            background-image: svg-load("../../../svg/iconmonstr-arrow.svg", fill=$secondary);
            transform: rotateZ(180deg);
        }
    }
}

/* gray theme (out) */
.table__row_out {
    background-color: rgb(249, 249, 249);

    .table {

        &__data {

            &_price-history {
                color: rgb(168, 168, 168);
            }

            &_date {

                @media (--mobile) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: inherit;
                }
            }
        }

        &__icon {
            background-image: svg-load("../../../svg/iconmonstr-arrow.svg", fill=rgb(168, 168, 168));
            transform: rotateZ(180deg);
        }
    }
}

.table_pay {

    .table {

        &__row:nth-child(2n + 1) {
            background-color: rgb(249, 249, 249);
        }

        &__data {

            &_checkbox {

                @media (--mobile) {
                    padding-right: inherit;
                    padding-top: inherit;
                }
            }

            &_work {

                @media (--mobile) {
                    order: 1;
                    margin: 0;
                    font-size: 16px;
                }
            }

            &_number {

                @media (--mobile) {
                    order: 2;
                    position: relative;
                    padding: 0;
                    margin-bottom: 10px;
                    line-height: normal;
                }
            }

            &_subject {

                @media (--mobile) {
                    order: 3;
                    line-height: 20px;
                }

            }

            &_price {

                @media (--mobile) {
                    position: relative;
                    order: 4;
                    font-size: 25px;
                    font-weight: 500;
                    padding-left: 10px;
                }

                &:before {

                    @media (--mobile) {
                        content: "";
                        display: inline-block;
                        top: center;
                        left: 0;
                        size: 5px;
                        background-color: $primary;
                        border-radius: 50%;
                    }
                }
            }

            &_toggle {

                @media (--mobile) {
                    order: 5;
                    margin: 0 auto;
                }
            }
        }
    }
}

.status {
    display: flex;
    justify-content: flex-end;

    &__inner {
        display: flex;
        align-items: center;

        @media (--mobile) {
            flex-direction: column-reverse;
            margin-top: 10px;
        }
    }

    &__caption {
        margin-right: 25px;

        @media (--mobile) {
            margin-right: 0;
            margin-top: 5px;
        }
    }
}