.btn {
    position: relative;
    border: none;
    cursor: pointer;
    min-height: 50px;
    font-family: $opensans;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 32px;
    transition: $transition-delay;

    &:focus {
        outline: none;
    }

    &_std {
        border-radius: 25px;
    }

    &_rect {
        border-radius: 10px;
    }

    &_primary {
        background-color: $primary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $primary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $primary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_error {
        background-color: $error;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $error-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $error-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_secondary {
        background-color: $secondary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $secondary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $secondary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_bright {
        background-color: $white;
        border: solid 1px #dcdcdc;
        color: rgba(0, 0, 0, 0.7);

        &:hover {
            box-shadow: $gray-shadow;
        }

        &:active {
            box-shadow: $gray-shadow-hov;
        }

        &:before, &:after {
            background-color: $black;
        }
    }

    &_round {
        size: 50px;
        padding: 5px;
        background-size: 15px;
        border-radius: 50%;
    }

    &_close, &_plus {

        &:before, &:after {
            position: absolute;
            top: 50%;
            left: 35%;
            content: '';
            height: 2px;
            width: 15px;
        }
    }

    &_close {

        &:before {
            transform: rotateZ(-45deg);
        }

        &:after {
            transform: rotateZ(45deg);
        }
    }

    &_plus {


        &:after {
            transform: rotateZ(90deg);
        }
    }
}