.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-height: 50px;
    font-family: $opensans;
    font-weight: 600;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: normal;
    text-align: center;
    transition: $transition-delay;

    @media (--desktop) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (--mobile) {
        font-size: 14px;
        padding: 5px 18px;
        min-height: 40px;
    }

    &:focus {
        outline: none;
    }

    &__icon {
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 10px;
        color: inherit;

        &_times {
        }

        &_plus {
            transform: rotateZ(45deg);
        }
    }

    &_border {
        border-width: 1px;
        border-style: solid;

        &_white {
            border-color: $white;
        }

        &_primary {
            border-color: $primary;
        }

        &_secondary {
            border-color: $secondary;
        }
    }

    &_triangle-down {
        padding: 0;
        size: 0;

        &:after {
            content: "";
            position: absolute;
            top: center;
            left:center;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top-width: 6px;
            border-top-style: solid;
        }

        &._primary:after {
            border-top-color: $primary;
        }

        &._secondary:after {
            border-top-color: $secondary;
        }

        &._error:after {
            border-top-color: $error;
        }
    }

    &_std {
        border-radius: 25px;
    }

    &_rect {
        border-radius: 10px;
    }

    &_round {
        size: 50px;
        padding: 5px;
        background-size: 15px;
        border-radius: 50%;

        &_small {
            size: 15px;
            min-height: 15px;

            @media (--mobile) {
                size: 15px;
            }
        }

        @media (--mobile) {
            size: 40px;
        }
    }

    &_close, &_plus {

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 35%;
            height: 2px;
            width: 15px;
            transition: all $transition-delay;

            @media (--mobile) {
                left: 32%;
            }
        }

        &_primary:before,
        &_primary:after {
            background-color: rgba(0, 0, 0, 0.38);

            &:hover {
                background-color: rgba(0, 0, 0, 0.58);
            }
        }
    }

    &_close {

        &:before {
            transform: rotateZ(-45deg);
        }

        &:after {
            transform: rotateZ(45deg);
        }
    }

    &_plus {

        &:after {
            transform: rotateZ(90deg);
        }
    }

    &_primary {
        background-color: $primary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $primary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $primary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_error {
        background-color: $error;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $error-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $error-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_secondary {
        background-color: $secondary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $secondary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $secondary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_bright {
        background-color: $white;
        border: solid 1px #dcdcdc;
        color: rgba(0, 0, 0, 0.7);

        &:hover {
            box-shadow: $gray-shadow;
        }

        &:active {
            box-shadow: $gray-shadow-hov;
        }

        &:before, &:after {
            background-color: $black;
        }
    }

    &_transp {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            box-shadow: $gray-shadow;
            background-color: rgba(0, 0, 0, 0.3);
            color: rgba(255, 255, 255, 0.5);
        }

        &:active {
            box-shadow: $gray-shadow-hov;
        }

        &:before, &:after {
            background-color: $black;
        }
    }

    &_disabled {
        background-color: rgb(219, 220, 224);
        color: rgba(0, 0, 0, 0.54);
        cursor: auto;
        pointer-events: none;
    }
}

/* BUTTONS WITH ICONS OR IMAGES */

.btn-icon {
    width: 100%;
    height: 100%;
    will-change: transform;


    &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        transform: scale(1.025);
    }

    &:active {
        transform: scale(0.975);
    }

    &__caption {
        display: inline-block;
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.87);
    }

    &__icon {
        display: inline-block;
        size: 30px;
        min-size: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &_download {
            background-image: svg-load("../../../svg/iconmonstr-download.svg", fill=$white);
        }

        &_upload {
            background-image: svg-load("../../../svg/iconmonstr-upload.svg", fill=$white);
        }

        &_info {
            background-image: svg-load("../../../svg/iconmonstr-info.svg", fill=$white);
        }
    }

    &__image {
        pointer-events: none;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_wallet {

        & .btn-icon__image {
            position: absolute;
            right: 5px;
            background-image: url("./wallet.png");
            height: 70px;
            width: 80px;
        }

        & .btn-icon__caption {
            text-align: left;
            margin-right: 50px;
        }

    }

    &_mts {
        background-color: rgb(254, 0, 0);

        & .btn-icon__image {
            background-image: svg-load("../../../svg/logo-mts.svg");
            height: 80px;
            width: 160px;
        }

    }

    &_beeline {
        background-color: rgb(249, 219, 18);

        & .btn-icon__image {
            background-image: svg-load("../../../svg/logo-beeline.svg");
            height: 80px;
            width: 160px;
        }
    }

    &_megafon {

        & .btn-icon__image {
            background-image: svg-load("../../../svg/logo-megafon.svg");
            height: 80px;
            width: 160px;
        }
    }

    &_tele2 {

        & .btn-icon__image {
            background-image: svg-load("../../../svg/logo-tele2.svg");
            height: 80px;
            width: 160px;
        }
    }

    &_yandex {

        & .btn-icon__image {
            background-image: url("./logo-yandex.png");
            height: 80px;
            width: 160px;
        }
    }

    &_webmoney {

        & .btn-icon__image {
            background-image: svg-load("../../../svg/logo-webmoney.svg");
            height: 90px;
            width: 230px;
        }
    }

    &_qiwi {

        & .btn-icon__image {
            background-image: url("./logo-qiwi.png");
            height: 90px;
            width: 160px;
        }
    }

    &_qiwi, &_webmoney {
        background-color: rgb(249, 249, 249);
        border: solid 1px #dcdcdc;

        &:hover {
            background-color: $white;
        }
    }

    &_euroset {

        & .btn-icon__image {
            background-image: url("./logo-euroset.png");
            height: 60px;
            width: 180px;
        }
    }

    &_svyaznoi {

        & .btn-icon__image {
            background-image: url("./logo-svyaznoi.png");
            height: 60px;
            width: 180px;
        }
    }

    &_operators {

        & .btn-icon__image {
            background-image: url("./logo-operators.png");
            height: 60px;
            width: 180px;
        }
    }
}


.btn-icon {

    &__image {

        &_hands {
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url("./hands.png");
            height: 105px;
            width: 158px;
        }

        &_woman {
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: url("./woman.png");
            height: 105px;
            width: 158px;
        }

        &_visa {
            background-image: url("./logo-visa.png");
            height: 70px;
            width: 90px;
        }

        &_mastercard {
            background-image: url("./logo-mastercard.png");
            height: 70px;
            width: 80px;
        }
    }
}


.icon {
    display: inline-block;
    size: 16px;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    top: center;
    right: 0;

    &_help {
        background-image: svg-load("../../../svg/iconmonstr-help.svg", fill=rgba(255, 255, 255, 0.3));
        margin-left: 10px;

        @media (--mobile) {
            margin-left: 0;
            margin-right: 10px;
        }

        &:hover {
            background-image: svg-load("../../../svg/iconmonstr-help.svg", fill=rgba(255, 255, 255, 0.8));
        }
    }
}

.go-back {
    display: none;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    transition: $transition-delay;
    margin-right: 15px;

    &:active {
        border-width: 0 3px 3px 0;
        border: solid rgba(255, 255, 255, 0.9);
    }
}

/* HELPER */

.margin-t-b-10 {
    margin: 10px auto;
    width: 300px;
    height: 107px;
}