.btn {
    background-color: transparent;
    position: relative;
    border: none;
    cursor: pointer;
    min-height: 50px;
    font-family: $opensans;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 32px;
    transition: $transition-delay;
    width: 100%;

    @media (--desktop) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (--mobile) {
        font-size: 14px;
        padding: 10px 18px;
        min-height: 40px;
    }

    &:focus {
        outline: none;
    }

    &_triangle-down {
        padding: 0;
        size: 0;

        &:after {
            content: "";
            position: absolute;
            top: center;
            left:center;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top-width: 6px;
            border-top-style: solid;
        }

        &._primary:after {
            border-top-color: $primary;
        }

        &._secondary:after {
            border-top-color: $secondary;
        }

        &._error:after {
            border-top-color: $error;
        }
    }

    &_std {
        border-radius: 25px;
    }

    &_rect {
        border-radius: 10px;
    }

    &_round {
        size: 50px;
        min-width: 50px;
        padding: 5px;
        background-size: 15px;
        border-radius: 50%;

        @media (--mobile) {
            size: 40px;
            min-width: 40px;
        }
    }

    &_close, &_plus {

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 35%;
            height: 2px;
            width: 15px;

            @media (--mobile) {
                left: 32%;
            }
        }
    }

    &_close {

        &:before {
            transform: rotateZ(-45deg);
        }

        &:after {
            transform: rotateZ(45deg);
        }
    }

    &_plus {

        &:after {
            transform: rotateZ(90deg);
        }
    }

    &_primary {
        background-color: $primary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $primary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $primary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_error {
        background-color: $error;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $error-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $error-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_secondary {
        background-color: $secondary;
        color: $white;
        box-shadow: $gray-shadow;

        &:hover {
            background-color: $secondary-hov;
            box-shadow: $gray-shadow-hov;
        }

        &:active {
            background-color: $secondary-act;
        }

        &:before, &:after {
            background-color: $white;
        }
    }

    &_bright {
        background-color: $white;
        border: solid 1px #dcdcdc;
        color: rgba(0, 0, 0, 0.7);

        &:hover {
            box-shadow: $gray-shadow;
        }

        &:active {
            box-shadow: $gray-shadow-hov;
        }

        &:before, &:after {
            background-color: $black;
        }
    }
}